<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.golang.app"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk android:minSdkVersion="9" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

	<application android:label="Dcoin" android:debuggable="true">

	  
	<activity android:name="org.golang.app.GoNativeActivity"
		android:label="Dcoin"		
		android:configChanges="orientation|keyboardHidden">
		<meta-data android:name="android.app.lib_name" android:value="dcoin" />
	</activity>

	
	<activity android:name="org.golang.app.MainActivity"
		android:label="Dcoin"
		android:configChanges="orientation|keyboardHidden">
		<meta-data android:name="android.app.lib_name" android:value="dcoin" />
		<intent-filter>
			<action android:name="android.intent.action.MAIN" />
			<category android:name="android.intent.category.LAUNCHER" />
		</intent-filter>
	</activity>
	
        <service android:enabled="true" android:name="org.golang.app.MyService">
	    <intent-filter>
	      <action android:name="org.golang.app.MyService" />
	    </intent-filter>
	</service>
    
	<receiver android:enabled="true" android:name="org.golang.app.BootReceiver" android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
	</receiver> 

	</application>
</manifest>
