$white: #ffffff;
$blue: #428bca;
$gray: #dddddd;

/* Install step 0 page
----------------------------------------- */
.dc_install_step_0 {
	height:200px;
	h3 {
		margin-top:0px;
	}
	#standard {
		cursor:pointer;
		display:inline-block;
	}
	#extended {
		cursor:pointer;
		display:inline-block;
		margin-bottom:15px;
	}
	.extended_form {
		text-align:left;
		margin-top:-15px;
		.form-group {
			.control-label {
				padding-left:0px;
				padding-top:7px;
				padding-bottom:7px;
				margin-bottom:15px;
				@include max(767px) {
					width:100%;
					padding-right:0px;
					padding-top:0px;
					padding-bottom:2px;
					margin-bottom:0px;
				}
			}
			.col-sm-9 {
				padding-left:0px;
				padding-right:0px;
				margin-bottom:15px;
				div {
					input {
						margin-top:15px;
					}
				}
			}
		}
	}
}








































































