@import "addons/mixins";

/* Main tags
----------------------------------------- */
* {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	text-size-adjust: none;
}
html, body {
	min-width:320px;
}

@import "pages/home";






































































