{{define "assignmentsSn"}}
<script>

	function write_for_signature (result) {
		if ($('#comment').val()=='') {
			$('#comment').val('null');
		}
		$("#for-signature").val( '{{.TxTypeId}},{{.TimeNow}},{{.UserId}},{{.SnUserId}},'+result+','+$('#comment').val() );
		doSign();
		{{if not .ShowSignData}}$("#send_to_net").trigger("click");{{end}}
	}

		$('#btn-bad').bind('click', function () {

			$('#step_1').css('display', 'none');
			$('#sign').css('display', 'block');
			$('#result').val( '0' );

			write_for_signature(0);

		} );


		$('#btn-success').bind('click', function () {

			$('#step_1').css('display', 'none');
			$('#sign').css('display', 'block');
			$('#result').val( '1' );

			write_for_signature(1);

		} );

		$('#send_to_net').bind('click', function () {

			$.post( 'ajax?controllerName=saveQueue', {
				'type' : '{{.TxType}}',
				'time' : '{{.TimeNow}}',
				'user_id' : '{{.UserId}}',
				'sn_user_id' : $('#sn_user_id').val(),
				'result' : $('#result').val(),
				'comment' : $('#comment').val(),
				'signature1': $('#signature1').val(),
				'signature2': $('#signature2').val(),
				'signature3': $('#signature3').val()
			}, function () {
				dc_navigate ('assignments', {'alert': '{{.Lang.sent_to_the_net}}'} );
			} );

		});
</script>

<h1 class="page-header">assignmentsSn</h1>
<ol class="breadcrumb" style="position: relative;">
	<li><a href="#miningMenu">{{.Lang.mining}}</a></li>
	<li><a href="#assignments">{{.Lang.tasks_title}}</a></li>
<span style="position: absolute; right: 13px;"><i class="fa fa-refresh" onclick="rTpl()" style="color: #2A6496;cursor: pointer; cursor: hand; "></i></span></ol>

{{template "alertSuccess".}}

<div id="step_1">

	<p>{{.SN}}</p>
	Write this man, "Hi. Do you want to register Dcoin?"<br>
	<p>He must answer "YES"</p>

	Comment: <input type="text" id="comment" value="" class="form-control"><br>
	<button class="btn btn-inverse" id="btn-bad">{{.Lang.no}}</button>
	<button class="btn btn-success" id="btn-success">{{.Lang.yes}}</button>
</div>

{{template "signatures".}}

<input type="hidden" id="user_id" value="{{.UserId}}">
<input type="hidden" id="sn_user_id" value="{{.SnUserId}}">
<input type="hidden" id="result">

{{end}}