{{define "blockExplorer"}}

<script>
	$('#show_block').bind('click', function () {
		dc_navigate('blockExplorer', {'blockId':$('#goto_block_id').val()});
	});

	function my_notice() {
		$('#wrapper').spin();
		$.post('ajax?controllerName=myNoticeData', function(data) {
			//poll_time = Date.now();
			//i++;

			$('#main_status').html(data.main_status);
			if (data.main_status_complete!=1)
				$("#main_status").css({ 'color': 'red'});
			else
				$("#main_status").css({ 'color': '#333'});

			$('#account_status').text(data.account_status);
			if (data.account_status=='Miner') {
				$('#account_status').css("color", "green");
				$('#account_status').css("font-weight", "bold");
			}
			$('#cur_block_id').text(data.cur_block_id);
			$('#connections').text(data.connections);

			//console.log(data.time_last_block_int);
			//var time = Number(data.time_last_block_int + '000');
			//console.log(time);
			//var d = new Date(time);
			$('#time_last_block_int').text(data.time_last_block_int);
			if (data.alert == 1 && i%2 == 0)
				$('#bar_alert').css("display", "block");
			else if (data.alert == 1 && i%2 != 0)
				$('#bar_alert').css("display", "none");

			//setTimeout(doPoll,30000);
			$('#wrapper').spin(false);

		}, 'json' );
	}

	$('#panel_refresh').bind('click', function () {
		my_notice();
		return false;
	});
	{{if gt .UserId 0}}
	my_notice();
	{{end}}
</script>

{{if eq .UserId 0}}
<style>
	#page-wrapper{margin:0}
</style>
{{end}}

<link href="static/css/cf.css" rel="stylesheet">
{{if not .UserId}}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
		<a class="navbar-brand" href="#" style="display: block; padding-left: 0px;  padding-top: 6px; margin-left: 15px; margin-right: 50px"><img src="static/img/logo.png" height="40"></a>
	</div>
</nav>
{{end}}
<h1 class="page-header">Block explorer</h1>

{{if and (not .Start) (not .BlockId) (gt .UserId 0)}}
<div>
	<ul class="list-group">
		<li class="list-group-item" id="main_status">{{.MyNotice.mainStatus}}</li>
		<li class="list-group-item">{{.Lang.account_status}}: <span id="account_status">{{.MyNotice.account_status}}</span> {{if gt .SessRestricted 0}}restricted{{end}} {{if .PoolAdmin}}(Pool admin){{end}}</li>
		<li class="list-group-item">User ID: <span id="user_id">{{.UserId}}</span></li>
		<li class="list-group-item">{{.Lang.number_of_blocks}}: <span id="cur_block_id">0</span></li>
		<li class="list-group-item">{{.Lang.time_last_block}}: <span id="time_last_block_int" class="unixtime">{{.MyNotice.time_last_block_int}}</span></li>
	</ul>
</div>
<div style="clear: both"></div>
<div id="search_block">
	<div class="form-group">
		<label>Search block</label>
		<input class="form-control" style="width: 300px" id="goto_block_id" placeholder="block_id">
	</div>
	<div class="form-group">
		<button id="show_block" class="btn btn-primary" type="button">OK</button>
	</div>
</div>
{{end}}

{{if gt .BlockId 0}}
<ol class="breadcrumb" style="position: relative;">
	<li><a href="#blockExplorer">Block explorer</a></li>
	<li class="active">{{.BlockId}}</li>
</ol>
{{else if eq .UserId 0}}
<span style="position: absolute; right: 13px;"><i class="fa fa-refresh" onclick="rTpl()" style="color: #2A6496;cursor: pointer; cursor: hand; "></i></span>

{{end}}
<div class="table_fix">
{{noescape .Data}}
</div>

<script src="static/js/unixtime.js"></script>
<input type='hidden' id='tpl_name' value='blockExplorer'>

{{end}}