{{define "cfCatalog"}}
<link href="{{.CfUrl}}css/cf.css" rel="stylesheet">
<style>
	{{if eq .UserId 0}}
		#dc_content{width:900px; margin:0 auto}
		#wrapper{background-color:#fff}
		#page-wrapper{margin:0}
	{{end}}
</style>
<h1 class="page-header">{{.Lang.cf_projects_title}}</h1>
{{if .CurCategory}}
<ol class="breadcrumb" style="position: relative;">
	{{if gt .UserId 0}}
		<li><a href='#'>CrowdFunding</a></li><li><a href='#' onclick="dc_navigate('cfCatalog')">{{.Lang.catalog}}</a></li>
	{{else}}
		<li><a href='{{.CfUrl}}'>{{.Lang.catalog}}</a></li>
	{{end}}
	<li class="active">{{cfCategoryLang .Lang .CategoryId}}</li>
<span style="position: absolute; right: 13px;"><i class="fa fa-refresh" onclick="rTpl()" style="color: #2A6496;cursor: pointer; cursor: hand; "></i></span></ol>
{{end}}

<!--	<div class="width_max" style="margin-bottom:70px">
		<ul class="nav navbar-nav navbar-left" style="padding-top:10px">
			<button type="button" class="btn btn-outline btn-default">Explore</button>
			<button type="button" class="btn btn-outline btn-default">Start your campaign</button>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Language <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">Русский</a></li>
					<li><a href="#">English</a></li>
				</ul>
			</li>
		</ul>

	</div>
-->
<div style="float:left; width:900px; overflow:auto;">
	<div style="float:left; width:720px; overflow:auto; min-height: 800px">
		{{if .Projects}}
		{{range $project_id, $data := .Projects}}
			<div class="well project-card" style="float:left; margin-right:20px">
			{{if gt $.UserId 0}}
					<a href="#" onclick="dc_navigate('cfPagePreview', {'onlyProjectId':{{$project_id}}{{if ne $data.lang_id "0"}}, 'lang_id':{{$data.lang_id}}{{end}}})">
			{{else}}
				<a href='?id-{{$project_id}}	{{if ne $data.lang_id "0"}}-{{$data.lang_id}}{{end}}	'>
			{{end}}

			<img src="{{$data.blurb_img}}" style="width:200px; height:310px"></a>
			<div>
				<div class="card-location" style="margin-top:10px;font-size: 13px; color: #828587;"><i class="fa  fa-map-marker  fa-fw"></i> {{$data.country}},{{$data.city}}</div>
				<div class="progress" style="height:5px; margin-top:10px; margin-bottom:10px"><div class="progress-bar progress-bar-success" style="width: {{$data.pct}}%;"></div></div>
				<div class="card-bottom">
					<div style="float:left; overflow:auto; padding-right:10px"><h5>{{$data.pct}}%</h5>funded</div>
					<div style="float:left; overflow:auto; padding-right:10px"><h5>{{$data.funding_amount}} D{{index $.CurrencyList (strToInt64 $data.currency_id)}} </h5>pledged</div>
					<div style="float:left; overflow:auto;"><h5>{{round $data.days 1}}</h5>days to go</div>
				</div>
			</div>
			</div>
		{{end}}
		{{end}}
	</div>

	<div class="menu">

		<h3><i class="fa  fa-folder-open-o  fa-fw"></i> {{.Lang.categories}}</h3>
		<ul class="navigation">
			{{range $k, $data := .CfCategory}}
				{{if eq $.UserId 0}}
					<li><a href='?category-{{$data.id}}'>{{$data.name}}</a></li>
				{{else}}
					<li><a href='#' onclick="dc_navigate('cfCatalog', {'category_id':{{$data.id}}})">{{$data.name}}</a></li>
				{{end}}
			{{end}}
		</ul>
	</div>
</div>

{{end}}