{{define "changeCountryRace"}}
<script>
	$('#save').bind('click', function () {
		$.post('ajax?controllerName=saveRaceCountry', {
					'race' : $('input:radio[name=race]:checked').val(),
					'country' : $("#country option:selected").val()
				},
				function(data) {
					dc_navigate('changeCountryRace', {'alert': '{{.Lang.saved}}'} );
				});
	});
</script>

<h1 class="page-header">{{.Lang.change_country_race_title}}</h1>

{{template "alertSuccess".}}

<h3>{{.Lang.your_race}}</h3>

<img src="static/img/race.gif"><Br>

<div style="float: left;width: 190px; text-align: center;"><input type="radio" name="race" value="1" {{if eq .Race 1}}checked{{end}}></div>
<div style="float: left;width: 160px; text-align: center; "><input type="radio" name="race" value="2" {{if eq .Race 2}}checked{{end}}></div>
<div style="float: left; width: 140px; text-align: center; "><input type="radio" name="race" value="3" {{if eq .Race 3}}checked{{end}}></div>
<br>
<h3>Country</h3>
<select id='country' class="c-select form-control"><option value='0'></option>
	{{range $i, $country := .Countries}}
	<option value='{{$i}}' {{if eq $i $.Country}}selected{{end}}>{{$country}}</option>
	{{end}}
</select>

<br>&nbsp;<br>

<button class="btn btn-success" id="save">Save</button>
<br><br><br>

<div class="for-signature"></div>
       
{{end}}