{{define "changePromisedAmount"}}
<script>

	$('#send_to_net').bind('click', function () {
		console.log("click")
		if ( $('#amount').val() > 0 ) {
			console.log("$('#amount').val() > 0")
			$.post( 'ajax?controllerName=saveQueue', {
				'type' : '{{.TxType}}',
				'time' : '{{.TimeNow}}',
				'user_id' : '{{.UserId}}',
				'promised_amount_id' :  $('#promised_amount_id').val(),
				'amount' :  $('#amount').val(),
				'signature1': $('#signature1').val(),
				'signature2': $('#signature2').val(),
				'signature3': $('#signature3').val()
			}, function(data){
				dc_navigate ('promisedAmountList', {'alert': '{{.Lang.sent_to_the_net}}'} );
			});
		}
		else	{
			alert('null amount');
		}
	} );

	{{if .ShowSignData}}$("#main").css("display", "none");$("#sign").css("display", "block");{{end}}
	check_key_and_show_modal();

</script>
<h1 class="page-header">{{.Lang.change_promised_amount}}</h1>

<div id="main">

	<input type="hidden" id="amount" value="{{.Amount}}">
	<input type="hidden" id="promised_amount_id" value="{{.PromisedAmountId}}">

	<script>
		doSign();
		{{if not .ShowSignData}}$("#send_to_net").trigger("click");{{end}}
	</script>

</div>

{{template "signatures".}}


{{end}}