{{define "changePrimaryKey"}}
<style>
	.nav-link {
		padding-left:0.75rem;
		padding-right:0.75rem;
	}
	#password_div .col-xs-12 {
		padding-left:0px;
		padding-right:0px;
	}
	#mode_div, #password_div, #confirm_key, #two_keys {
		border-radius:0px 5px 5px 5px;
		background-color:#ffffff;
		padding:1rem;
	}
	small {
		display:block;
		line-height:16px;
	}
	.clear {
		clear:both;
	}
</style>
<script>

	var progress_pct_width = $('#progress_pct').width()/$('#progress_pct').parent().width()*100;

	function hex_pkey(public_key_id) {
		var public_key = $('#'+public_key_id).val();
		public_key = public_key.replace(/[ \n]+/g, "");
		if (public_key.indexOf('-----') > -1)  {
			public_key = public_key.replace("-----BEGINPUBLICKEY-----", "");
			public_key = public_key.replace("-----ENDPUBLICKEY-----", "");
			public_key = b64tohex(public_key);
			console.log('b64tohex:'+public_key);
			$('#'+public_key_id).val(public_key);
		}
	}

	$('#public_key_2').keyup(function() {
		hex_pkey('public_key_2');
	});

	$('#public_key_3').keyup(function() {
		hex_pkey('public_key_3');
	});


	var save_private_key = 0;
	var private_key = 0;
	var mode = 'simple_protection_mode';

	$('#send_to_net').bind('click', function () {

		$.post( 'ajax?controllerName=saveQueue', {
					'type' : '{{.TxType}}',
					'time' : '{{.TimeNow}}',
					'user_id' : '{{.UserId}}',
					'public_key_1' : $('#public_key_1').val(),
					'public_key_2' : $('#public_key_2').val(),
					'public_key_3' : $('#public_key_3').val(),
					'private_key' : private_key,
					'password_hash' : $('#password_hash').val(),
					'save_private_key' : save_private_key,
					'signature1': $('#signature1').val(),
					'signature2': $('#signature2').val(),
					'signature3': $('#signature3').val()
				}, function (data) {
					//alert(data);
					dc_navigate ('home', {'alert': '{{.Lang.sent_to_the_net}}'} );
				}
		);

	} );

	$('#goto_confirm_key').bind('click', function () {

		if (progress_pct_width<20) {
			var new_pct = progress_pct_width + 7;
			$('#progress_pct').width(new_pct * $('#progress_pct').parent().width() / 100);
			$('#progress_pct').html(new_pct + '%');
		}

		$("#tx_history").css("display", "none");
		$("#password_div").css("display", "none");
		$("#confirm_key").css("display", "block");

		$("#step0").attr('class', 'nav-link');
		$("#step1").attr('class', 'nav-link');
		$("#step2").attr('class', 'nav-link active');

		if (mode=='enhanced_protection_mode') {
			console.log('goto_step_3_or_sign');
			$("#goto_step_3_or_sign").text('{{.Lang.next}}');
		}

	} );

	$('#goto_password').bind('click', function () {

		if (progress_pct_width<20) {
			var new_pct = progress_pct_width + 4;
			$('#progress_pct').width(new_pct * $('#progress_pct').parent().width() / 100);
			$('#progress_pct').html(new_pct + '%');
		}

		$("#tx_history").css("display", "none");
		$("#mode_div").css("display", "none");
		$("#password_div").css("display", "block");
		$("#step0").attr('class', 'nav-link');
		$("#step1").attr('class', 'nav-link active');
		$("#tx_history").css("display", "none");
	} );

	$('#goto_sign').bind('click', function () {

		$("#tx_history").css("display", "none");
		$("#two_keys").css("display", "none");
		$("#for-signature").val('{{.TxTypeId}},{{.TimeNow}},{{.UserId}},'+$("#public_key_1").val()+','+$("#public_key_2").val()+','+$("#public_key_3").val());
		confirm_key
		{{if .ShowSignData}}$("#sign").css("display", "block");{{end}}
		doSign();
		{{if not .ShowSignData}}$("#send_to_net").trigger("click");{{end}}
		{{if .ShowSignData}}$("#step0,#step1,#step2,#step3").attr('class', 'nav-link');$("#step4").attr('class', 'nav-link active');{{end}}

		} );

		$('#goto_step_3_or_sign').bind('click', function () {

			$("#tx_history").css("display", "none");

			var e_n_sign = get_e_n_sign($("#change_pkey_private_key").val(), $("#change_pkey_password").val(), '', 'change_pkey_alert');
			var public_key = make_public_key(e_n_sign['modulus'], e_n_sign['exp']);
			$("#public_key_1").val( public_key );
			$('#password_hash').val(hex_sha256(hex_sha256($('#change_pkey_password').val())));

			if (public_key.length < 512) {
				$("#change_pkey_alert").html('<div id="alertModalPull" class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><p>{{.Lang.incorrect_key_or_password}}</p></div>');
			}
			else if (mode=='simple_protection_mode') {

				if (progress_pct_width<20) {
					var new_pct = progress_pct_width + 10;
					$('#progress_pct').width(new_pct * $('#progress_pct').parent().width() / 100);
					$('#progress_pct').html(new_pct + '%');
				}

				$("#for-signature").val( '{{.TxTypeId}},{{.TimeNow}},{{.UserId}},'+$("#public_key_1").val()+',,');
				$("#confirm_key").css("display", "none");
				$("#step2").attr('class', 'nav-link');
				$("#step3").attr('class', 'nav-link active');
				{{if .ShowSignData}}$("#sign").css("display", "block");{{end}}
				doSign();
				{{if not .ShowSignData}}$("#send_to_net").trigger("click");{{end}}
				}
			else {
					$("#two_keys").css("display", "block");
					$("#confirm_key").css("display", "none");
					$("#step0,#step1,#step2").attr('class', 'nav-link');
					$("#step3").attr('class', 'nav-link active');
					{{if .ShowSignData}}$("#goto_sign").text("{{.Lang.next}}");{{end}}

				}
			} );


			function change_pkey_show_text_key () {
				$("#change_pkey_private_key").css("display", "block");
				$("#change_pkey_key_div").css("display", "none");
				$("#change_pkey_key_selector").html('<a href="#" onclick="change_pkey_show_file_key();return false;">{{.Lang.from_file}}</a>');
			}

			function change_pkey_show_file_key () {
				$("#change_pkey_private_key").css("display", "none");
				$("#change_pkey_key_div").css("display", "block");
				$("#change_pkey_key_selector").html('<a href="#" onclick="change_pkey_show_text_key();return false;">{{.Lang.text}}</a>');
			}

			function change_handleFileSelect(f) {
				$('#change_pkey_key_file_name').html(f.name);
				var reader = new FileReader();
				if (f.type.substr(0,5) =='image') {
					reader.onload = (function(theFile) {
						return function(e) {
							img2key(e.target.result, 'change_pkey_private_key');
						};
					})(f);
					reader.readAsDataURL(f);
				}
				else {
					reader.onload = (function(theFile) {
						return function(e) {
							console.log(e.target.result);
							$('#change_pkey_private_key').val(e.target.result);
						};
					})(f);
					reader.readAsText(f);
				}
			}

			function show_steps(mode) {
				var count_steps = {{if .ShowSignData}}3{{else}}2{{end}}
				var steps = '';
				if (mode=='enhanced_protection_mode') // режим усиленной защиты
					count_steps++
				for (var i=0; i<=count_steps; i++) {
					if (i==0)
						var active = 'nav-link active';
					else
						var active = 'nav-link ';
					steps = steps + '<li class="nav-item"><a id="step'+i+'" class="'+active+'" aria-expanded="false" href="#" onclick="step'+i+'()">step '+parseInt(i+1)+'</a></li>';
				}
				$( "#steps" ).html( steps );
			}

			$( document ).ready(function() {
				if (window.FileReader === undefined) {
					$("#change_pkey_private_key").css("display", "block");
					$("#change_pkey_key_file").css("display", "none");
					$("#change_pkey_key_selector").css("display", "none");
				}
				$("#tx_history").css("display", "block");
				show_steps('simple_protection_mode');

				{{if or (lt (minus .TimeNow .LastChangeKeyTime) 86400.0) (or (.LastTxQueueTx) (.LastTxTx))}}{{else}}
				document.getElementById('change_pkey_upload_hidden').addEventListener('change', change_handleFileSelect2, false);
				check_key_and_show_modal();
				{{end}}

			});

			function change_handleFileSelect2(evt) {
				$('#change_pkey_key_file_name').html(this.value);
				var f = evt.target.files[0];
				change_handleFileSelect(f);
			}

			$('#change_pkey_key_div').on(
					'dragover',
					function(e) {
						e.preventDefault();
						e.stopPropagation();
					}
			)
			$('#change_pkey_key_div').on(
					'dragenter',
					function(e) {
						e.preventDefault();
						e.stopPropagation();
					}
			)
			$('#change_pkey_key_div').on(
					'drop',
					function(e){
						if(e.originalEvent.dataTransfer){
							if(e.originalEvent.dataTransfer.files.length) {
								e.preventDefault();
								e.stopPropagation();
								change_handleFileSelect(e.originalEvent.dataTransfer.files[0]);
							}
						}
					}
			);


			/*$('#download').bind('click', function () {
				$( "#goto_confirm_key" ).prop( "disabled", false );
				$( "#goto_confirm_key" ).removeAttr("disabled");
			});*/
		$('#download').bind('click', function () {
			$('#download').html('<img src="/static/img/squares.gif" style="width:20px; margin:0px">');
			$( "form#main_form" ).submit();
			{{if or .IOS .Android}}
			$( "#download_div" ).html("<strong>{{.Lang.key_stored_in_photos}}</strong>");
			$( "#download_div" ).css("text-align", "center");
			{{else}}
			$( "#download_div" ).css("display", "none");
			{{end}}
			$( "#goto_confirm_key" ).css({"display":"inline-block", "margin-top:":"1rem"});
		});
		$('#goto_confirm_key').bind('click', function () {
			if (progress_pct_width<20) {
				var new_pct = progress_pct_width + 7;
				$('#progress_pct').width(new_pct * $('#progress_pct').parent().width() / 100);
				$('#progress_pct').html(new_pct + '%');
			}

			$("#tx_history").css("display", "none");
			$("#password_div").css("display", "none");
			$("#confirm_key").css("display", "block");

			$("#step0").attr('class', 'nav-link');
			$("#step1").attr('class', 'nav-link');
			$("#step2").attr('class', 'nav-link active');

			if (mode=='enhanced_protection_mode') {
				console.log('goto_step_3_or_sign');
				$("#goto_step_3_or_sign").text('{{.Lang.next}}');
			}
		});

			function step0() {
				$("#mode_div").css("display", "block");
				$("#password_div").css("display", "none");
				$("#confirm_key").css("display", "none");
				$("#two_keys").css("display", "none");
				$("#step0").attr('class', 'nav-link active');
				$("#step1,#step2,#step3").attr('class', 'nav-link');
				$("#tx_history").css("display", "block");
				return false;
			}

			function step1() {
				$("#mode_div").css("display", "none");
				$("#password_div").css("display", "block");
				$("#confirm_key").css("display", "none");
				$("#two_keys").css("display", "none");
				$("#step0,#step2,#step3").attr('class', 'nav-link');
				$("#step1").attr('class', 'nav-link active');
				$("#tx_history").css("display", "none");
				return false;
			}

			function step2() {
				$("#mode_div").css("display", "none");
				$("#password_div").css("display", "none");
				$("#confirm_key").css("display", "block");
				$("#two_keys").css("display", "none");
				$("#step0,#step1,#step3").attr('class', 'nav-link');
				$("#step2").attr('class', 'nav-link active');
				$("#tx_history").css("display", "none");
				return false;
			}

			function enhanced_protection_mode () {
				show_steps('enhanced_protection_mode');
				$("#mode_text").html("{{.Lang.enhanced_protection_mode_3_key}}");
				$("#select_mode_link").html('<a href="#" onclick="simple_protection_mode()">{{.Lang.normal_mode}}</a>');
				mode = 'enhanced_protection_mode';
				return false;
			}

			function simple_protection_mode() {
				show_steps('simple_protection_mode');
				$("#mode_text").html("{{.Lang.normal_mode_1_key}}");
				$("#select_mode_link").html('<a href="#" onclick="enhanced_protection_mode()">{{.Lang.enhanced_protection_mode}}</a>');
				mode = 'simple_protection_mode';
				return false;
			}



</script>

<div id="main_div">

	<h1 class="page-header">{{.Lang.change_primary_key_title}}</h1>
	{{template "alertSuccess".}}

	{{if lt (minus .TimeNow .LastChangeKeyTime) 86400.0}}
		<div class="alert alert-info">{{.Lang.change_primary_key_limit_text}}</div>
	{{else if or (.LastTxQueueTx) (.LastTxTx)}} {
		<div class="alert alert-info">{{.Lang.change_primary_key_exists_request}}</div>
	{{else}}

<div class="panel-body">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" id="steps">
	</ul>
</div>

<div id="mode_div">

	<p id="mode_text">{{.Lang.normal_mode_1_key}}</p>
	<p id="select_mode_link" class="text-md-right"><a href="#" onclick="enhanced_protection_mode()">{{.Lang.enhanced_protection_mode}}</a></p>
	<center><button id="goto_password" class="btn btn-info">{{.Lang.next}}</button></center>

</div>

<div id="password_div" style="display:none;">
	<div class="form-horizontal">
		<form id="main_form" method="{{if .Mobile}}get{{else}}post{{end}}" action="ajax" target="_blank">
			<fieldset>
				<input type="hidden" name="controllerName" value="dcoinKey">
				<!-- Password input-->
				<div class="form-group">
					<label class="col-xs-12 control-label" for="new_password">{{.Lang.password}}</label>
					<div class="col-xs-12">
						<input id="new_password" class="form-control input-md" name="password" type="password">
						<small class="text-muted">{{.Lang.choose_a_password}}</small>
					</div>
					<div class="clear"></div>
				</div>
			</fieldset>
		</form>
		<!-- Button -->
		<div class="form-group" id="download_div">
			<div class="col-xs-12">
				<center><button id="download" class="btn btn-info" type="submit" style="margin-top:1rem;">{{.Lang.download}}</button></center>
			</div>
			<div class="clear"></div>
		</div>

		<!-- Button -->
		<div class="form-group">
			<div class="col-xs-12">
				<center><a id="goto_confirm_key" class="btn btn-info" style="display:none; margin-top:1rem;">{{.Lang.next}}</a></center>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>

<div id="confirm_key" style="display:none;">
	<fieldset>
		<div id="change_pkey_alert"></div>
		<p>{{.Lang.please_upload_new_key}}</p>
		<span id="change_pkey_key_selector" style="float:right"><a href="#" onclick="change_pkey_show_text_key();return false;">{{.Lang.text}}</a></span>
		<div class="clearfix"></div>
		<input multiple type="file" name="upload" id="change_pkey_upload_hidden" style="position: absolute; display: block; overflow: hidden; width: 0; height: 0; border: 0; padding: 0;" />
		<div style="width:100%;  border:2px dashed black; height: 100px; padding: 15px 0px 15px 0px" id="change_pkey_key_div">
			<div style="margin:auto; text-align:center; line-height:22px">
				<p style="margin-bottom:0px"  id="change_pkey_key_file_name" onclick="document.getElementById('change_pkey_upload_hidden').click();"></p>
				<button id="key_btn" style="margin-top:0px"  class="btn btn-outline btn-primary" onclick="document.getElementById('change_pkey_upload_hidden').click();">{{.Lang.select_key}}</button>
				<p>{{.Lang.or_drag_and_drop_key}}</p>
			</div>
		</div>
		<textarea rows="3" id="change_pkey_private_key" class="form-control" style="display:none"></textarea>
		<label style="margin-top:1rem;">{{.Lang.password}}</label>
		<input type="password" id="change_pkey_password" class="form-control">
		<center><button id="goto_step_3_or_sign" class="btn btn-info" type="submit" style="margin-top:1rem;">{{if .ShowSignData}}{{.Lang.next}}{{else}}{{.Lang.send_to_net}}{{end}}</button></center>
	</fieldset>
</div>

<div id="two_keys" style="display:none;">
	<div>
		<p>{{noescape .Lang.generate_somewhere_two_different_pairs_of_keys}}</p>
		<label>{{.Lang.your_public_keys_1}}</label>
		<textarea class="form-control" rows="5" id="public_key_2" style="text-align:justify; resize:none;"></textarea>
		<label style="margin-top:1rem;">{{.Lang.your_public_keys_2}}</label>
		<textarea class="form-control" rows="5" id="public_key_3" style="text-align:justify; resize:none;"></textarea>
		<center><button id="goto_sign" class="btn btn-info" style="margin-top:1rem;">{{.Lang.send_to_net}}</button></center>
	</div>
</div>


{{template "signatures".}}

<input type="hidden" id="public_key_1">
<input type="hidden" id="password_hash">
{{end}}

<div style="margin: auto; max-width:750px; display: none" id="tx_history">

	{{if .LastTxFormatted}}{{noescape .LastTxFormatted}}{{end}}

</div>

</div>

<script src="static/js/unixtime.js"></script>

{{end}}