{{ define "chart" }}

{{if .Chart}}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load('current', {'packages': ['corechart']});
</script>

<script type="text/javascript">
	google.charts.setOnLoadCallback(drawChart);

	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Date', 'Promised amounts', 'dUSD'],
			{{js .Chart}}
		]);

		var options = {
			title: 'dUSD/USD',
			curveType: 'function',
			legend: { position: 'bottom' }
		};

		var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
		chart.draw(data, options);
	}
	
	$(window).resize(function() {
		if(this.resizeTO) clearTimeout(this.resizeTO);
		this.resizeTO = setTimeout(function() {
			$(this).trigger('resizeEnd');
		}, 500);
	});
	
	$(window).on('resizeEnd', function() {
		drawChart();
	});
</script>
<div id="curve_chart"></div>
<p><a href="static/img/reduction.png" target="_blank">About graphic</a></p>
<p>Target (M1): {{.DCTarget}} dUSD</p>
{{end}}

{{end}}