{{define "dbInfo"}}
<h1 class="page-header">{{.Lang.db_info}}</h1>

<p>Version: {{.Version}}</p>
<p>Time: {{.TimeNow}} ({{.TimeNowInt}})</p>

<table class="table table-bordered" style="width:600px"><caption>nodes_ban</caption>
<thead><tr><th>host</th><th>user_id</th><th>ban_start</th><th>info</th></tr></thead>
<tbody>
{{range $k, $data := .NodesBan}}
<tr><td>{{$data.host}}</td><td>{{$data.user_id}}</td><td>{{$data.ban_start}}</td><td>{{$data.info}}</td></tr>
{{end}}
</tbody>
</table>


<table class="table table-bordered" style="width:600px"><caption>nodes_connection</caption>
<thead><tr><th>host</th><th>user_id</th></thead>
<tbody>
{{range $k, $data := .NodesConnection}}
<tr><td>{{$data.host}}</td><td>{{$data.user_id}}</td></tr>
{{end}}
</tbody>
</table>


<table class="table table-bordered" style="width:600px"><caption>main_lock</caption>
<thead><tr><th>lock_time</th><th>script_name</th></thead>
<tbody>
{{if .MainLock}}
	{{range $k, $data := .MainLock}}
	<tr><td class="unixtime">{{$data.lock_time}}</td><td>{{$data.script_name}}</td></tr>
	{{end}}
{{end}}
</tbody>
</table>

<p>BlockGeneratorSleepTime: {{.BlockGeneratorSleepTime}}</p>
<p>BlockGeneratorIsReadySleepTime: {{.BlockGeneratorIsReadySleepTime}}</p>

<table class="table table-bordered" style="width:600px"><caption>testblock</caption>
	<thead><tr><th>block_id</th><th>time</th><th>level</th><th>user_id</th><th>header_hash_hex</th><th>mrkl_root_hex</th><th>status</th><th>sent</th></thead>
	<tbody>
	{{if .Testblock}}
		{{range $k, $data := .Testblock}}
		<tr><td>{{$data.block_id}}</td><td>{{$data.time}}</td><td>{{$data.level}}</td><td>{{$data.user_id}}</td><td>{{$data.header_hash_hex}}</td><td>{{$data.mrkl_root_hex}}</td><td>{{$data.status}}</td><td>{{$data.sent}}</td></tr>
		{{end}}
	{{end}}
	</tbody>
</table>

<table class="table table-bordered" style="width:600px"><caption>transactions</caption>
	<thead><tr><th>hash</th><th>verified</th><th>used</th><th>high_rate</th><th>for_self_use</th><th>type</th><th>user_id</th><th>third_var</th><th>counter</th><th>sent</th></thead>
	<tbody>
	{{if .AllTransactions}}
	{{range $k, $data := .AllTransactions}}
	<tr><td>{{$data.hex_hash}}</td><td>{{$data.verified}}</td><td>{{$data.used}}</td><td>{{$data.high_rate}}</td><td>{{$data.for_self_use}}</td><td>{{index $.TxTypes (strToInt $data.type)}}</td><td>{{$data.user_id}}</td><td>{{$data.third_var}}</td><td>{{$data.counter}}</td><td>{{$data.sent}}</td></tr>
	{{end}}
	{{end}}
	</tbody>
</table>

<table class="table table-bordered" style="width:600px"><caption>QueueTx</caption>
	<thead><tr><th>hash</th><th>high_rate</th></thead>
	<tbody>
	{{if .AllQueueTx}}
	{{range $k, $data := .AllQueueTx}}
	<tr><td>{{$data.hex_hash}}</td><td>{{$data.high_rate}}</td></tr>
	{{end}}
	{{end}}
	</tbody>
</table>


<table class="table table-bordered" style="width:600px"><caption>other</caption>
<thead><tr><th>name</th><th>value</th></thead>
<tbody>
<tr><td>queue_tx</td><td>{{.QueueTx}}</td></tr>
<tr><td>transactions_testblock</td><td>{{.TransactionsTestblock}}</td></tr>
<tr><td>transactions</td><td>{{.Transactions}}</td></tr>
</tbody>
</table>


<table class="table table-bordered" style="width:600px"><caption>variables</caption>
<thead><tr><th>name</th><th>value</th><!--<th>description</th>--></thead>
<tbody>
{{range $name, $value := .Variables}}
<tr><td>{{$name}}</td><td>{{$value}}</td><!--<td>".@lng['variables_'.$name]."</td>--></tr>
{{end}}
</tbody>
</table>


<button onclick="dc_navigate('dbInfoNodes')">check nodes</button>
<script src="static/js/unixtime.js"></script>

<div id="UserAgent">UserAgent</div>
<script>
	$('#UserAgent').text("UserAgent: "+navigator.userAgent);
</script>

{{end}}