{{ define "home" }}
<style>
	h1 {
		display:none;
	}
	@media screen and (max-width: 991px) {
		h1 {
			display:block;
		}
	}
</style>
<script type="text/javascript">
$(document).ready(function() {
	if ($(".wallet .table-transactions .row").length > 6) {
		$(".wallet .table-transactions .row").eq(5).nextAll().remove();
	}
});

{{if .StatDays}}
$(function () {
	var date = new Date();
	date.setDate(date.getDate() - {{.StatDays}});
	var day = date.getUTCDate();
	var month = date.getUTCMonth();
	var year = date.getFullYear();

	{{range $key, $data := .ListBalance}}
	$("#d{{(index $data 0).Currency}}").highcharts({
        chart: {
            backgroundColor: null,
			borderWidth: 0,
			type: 'area',
			margin: [0, 0, 0, 0],
			style: {
				overflow: 'visible'
			},
			skipClone: true
        },
		exporting: {
			enabled: false
		},
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
		credits: {
			enabled: false
		},
		xAxis: {
			allowDecimals: false,
			type: 'datetime',
			labels: {
				enabled: false,
				format: '{value:%m-%d}'
			},
			title: {
				text: null
			},
			startOnTick: false,
			endOnTick: false,
			tickPositions: []
		},
		yAxis: {
			endOnTick: false,
			startOnTick: false,
			labels: {
				enabled: false
			},
			title: {
				text: null
			},
			tickPositions: [0]
		},
		legend: {
			enabled: false
		},
        tooltip: {
			backgroundColor: 'rgba(231, 239, 243, 0.9)',
			shadow: false,
			hideDelay: 0,
			pointFormat: 'Balance - <b>{point.y} d{{(index $data 0).Currency}}</b>',
			positioner: function (w, h, point) {
				return { x: point.plotX - w / 2, y: point.plotY - h - h/2.5 };
			}
		},
		plotOptions: {
			series: {
				animation: false,
				lineWidth: 1,
				shadow: false,
				states: {
					hover: {
						lineWidth: 1
					}
				},
				marker: {
					radius: 1,
					states: {
						hover: {
							radius: 2
						}
					}
				},
				fillOpacity: 0.25
			},
			column: {
				negativeColor: '#910000',
				borderColor: 'silver'
			}
		},
        series: [{
			color: {
				linearGradient: {
					x1: 0,
					x2: 0,
					y1: 0,
					y2: 1
				},
				stops: [
					[0, '#55acef'],
					[1, '#55acef']
				]
			},
            data: [{{range $data}}
				{{.Top}},
			{{end}}].reverse(),
			pointStart: Date.UTC(year, month, day),
        	pointInterval: 24 *  36e5
		}]
    });
	{{end}}
});
{{end}}
</script>

<style>
	.alert-info a:link{text-decoration: underline}
</style>

<link href="static/css/cf.css" rel="stylesheet">

<script>

	$( document ).ready(function() {
		$.get('ajax?controllerName=AlertFromAdmin', function (data) {
			if (typeof data.success !== 'undefined') {
				$('#AlertMessage').css("display", "block");
				$('#AlertMessage p').html(data.success);
			}
		}, 'JSON');
	
		$.get('ajax?controllerName=Update', function (data) {
			if (typeof data.success !== 'undefined') {
				$('#UpdateMessage').css("display", "block");
				$('#UpdateMessage p').html(data.success);
			}
		}, 'JSON');
	});
</script>

<div style="display: none" class="alert alert-danger alert-dismissable" id="AlertMessage"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><p></p></div>
<div style="display: none" class="alert alert-info alert-dismissable" id="UpdateMessage"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><p></p></div>
{{ template "alertSuccess". }}
<div id="message"></div>

<h1 class="page-header">Home</h1>
<div class="main row">
	<div class="pull-lg-right col-xs-12 col-lg-6">
		<div class="col-xs-6">
			<a class="menu" href="#cashRequestIn">
				<span class="amount">{{.CashRequests}}</span>
				<span class="icon bell"></span>
				<span class="head"><em>{{.Lang.inbox}}</em></span>
			</a>
		</div>
		<div class="col-xs-6">
			<a class="menu" href="#assignments">
				<span class="amount">{{.Assignments}}</span>
				<span class="icon pen"></span>
				<span class="head"><em>{{.Lang.tasks}}</em></span>
			</a>
		</div>
		<div class="col-xs-6">
			<a class="menu" href="#points">
				<span class="amount">{{.Points}}</span>
				<span class="icon chart"></span>
				<span class="head"><em>{{.Lang.points}}</em></span>
			</a>
		</div>
		<div class="col-xs-6">
			<a class="menu" href="#cashRequestOut">
				<span class="icon exchange"></span>
				<span class="head"><em>{{.Lang.outgoing}}</em></span>
			</a>
		</div>
	</div>
	<div class="col-xs-12 col-lg-6">
		<div class="wallet">
			{{if .ListBalance}}
			<h2>{{.Lang.available_balance}}</h2>
			<div class="balances">
				{{range $key, $data := .ListBalance}}
				<div class="balance">
					<article>
						<span>{{(index $data 0).Top}}</span>
						<strong>d<em>{{(index $data 0).Currency}}</em></strong>
					</article>
					<div class="chart_block">
						<div id="d{{(index $data 0).Currency}}" class="chart"></div>
					</div>
				</div>
				{{end}}
			</div>
			{{end}}
			{{if .MyDcTransactions}}
				<h2>{{.Lang.last_operation}}</h2>
				<div class="table-transactions">
					<div class="thead row">
						<div class="col-xs-2">{{.Lang.time}}</div>
						<div class="col-xs-3">{{.Lang.type}}</div>
						<div class="col-xs-2">{{.Lang.currency}}</div>
						<div class="col-xs-3">{{.Lang.amount}}</div>
						<div class="col-xs-2">{{.Lang.status}}</div>
					</div>
					{{range $key, $data := .MyDcTransactions}}
					<div class="row">
						<div class="col-xs-2">{{if ($data.timeFormatted)}}{{$data.timeFormatted}}{{end}}</div>
						<div class="col-xs-3">{{index $.Names ($data.type)}} <strong>{{$data.type_id}}</strong></div>
						<div class="col-xs-2">{{ index $.CurrencyList (strToInt64 ($data.currency_id)) }}</div>
						<div class="col-xs-3 {{if eq $data.sign "+"}}plus{{else}}minus{{end}}">{{$data.sign}} {{$data.amount}}</div>
						<div class="col-xs-2">{{$data.status}}</div>
					</div>
					{{end}}
				</div>
			{{end}}
			<a class="head" href="#walletsList"><em>{{.Lang.wallets}}</em></a>
		</div>
	</div>
</div>
<div class="graph">
	<ul class="nav nav-tabs" role="tablist">
		{{range $key, $data := .Charts}}
		<li class="nav-item">
			<a class="nav-link{{if eq $key 0}} active{{end}}" onclick="return change_graph('{{$data.Currency}}');" data-toggle="tab" href="" role="tab">d{{$data.Currency}}</a>
		</li>
		{{end}}
	</ul>
	<div class="tab-content">
		{{range $key, $data := .Charts}}
			<div id="{{$data.Currency}}" class="chart tab-pane fade{{if eq $key 0}} in active{{end}}" role="tabpanel"></div>
		{{end}}
	</div>
</div>
<h2>{{.Lang.statistic_cash_requests}}</h2>
<div class="table_fix">
	<table class="table table-bordered">
		<thead><tr><th>ID</th><th>{{.Lang.time}}</th><th>{{.Lang.from_user_id}}</th><th>{{.Lang.to_user_id}}</th><th>{{.Lang.currency}}</th><th>{{.Lang.amount}}</th><th>{{.Lang.status}}</th></tr></thead>
		<tbody>
		{{if .LastCashRequests}}
		{{range $k, $data := .LastCashRequests}}
		<tr>
			<td align="center"><strong>{{$data.id}}</strong></td>
			<td>{{$data.time}}</td>
			<td style='text-align:center;vertical-align:middle'><div class='img_{{$data.from_user_id}}' style='width:60px;height:60px; border-radius:50%;margin:auto'></div>{{$data.from_user_id}}</td>
			<td style='text-align:center;vertical-align:middle'><div class='img_{{$data.to_user_id}}' style='width:60px;height:60px; border-radius:50%;margin:auto'></div>{{$data.to_user_id}} </td>
			<td align="center">{{index $.CurrencyList (strToInt64 $data.currency_id)}}</td>
			<td align="center">{{$data.amount}}</td>
			{{if ne $data.del_block_id "0"}}
			<td title='{{.Lang.reduction_closed}}'>{{$data.status}}</td>
			{{else}}
			<td>{{$data.status}}<br>{{if eq $data.status "rejected"}}(user holded){{end}}</td>
			{{end}}
		</tr>
		{{end}}
		{{end}}
		</tbody>
	</table>
</div>

<script>
	if (typeof intervalIdArray != "undefined") {
		for (i=0; i<intervalIdArray.length; i++)
			clearInterval(intervalIdArray[i]);
	}
	$(function() {
		check_key_and_show_modal();
	});
	{{if and (or (eq .MyNotice.account_status "user") (eq .MyNotice.account_status "miner") ) (not .UserId)}}
		$("#main-login").html('<a href="#myModal" data-backdrop="static" data-toggle="modal" role="button" class="btn btn-danger  btn-block "><i class="fa fa-sign-in fa-lg"></i> Login</a><div style="margin: 2px 10px; font-size: 11px">{{.Lang.login_alert}}</div>');
	{{else}}

	{{end}}
</script>
<script>
	{{range $userId, $hosts := .RefPhotos}}
	var hosts = []
	{{range $k, $host := $hosts}}
	hosts.push({{$host}})
	{{end}}
	get_img_refs (0, {{$userId}}, hosts)
	{{end}}
</script>

{{if .Chart}}
<script type="text/javascript">

var charts = {
	{{range .Charts}}	
	   {{.Currency}}: {
			promised: [{{js .Promised}}].reverse(),
			dc: [{{js .Dc}}].reverse(),
		},
	{{end}}
}


function initGraph(id){
	'use strict';
	
	var w = $(".graph").width();
	if ($("body").width() >= 751) {
		var h = 450;
	} else {
		var h = 250;
	}
	var date = new Date();
	date.setDate(date.getDate() - 30);
	var day = date.getUTCDate();
	var month = date.getUTCMonth();
	var year = date.getFullYear();
	
	$("#" + id).width(w).height(h).highcharts({
        chart: {
            type: 'areaspline',
			zoomType: 'x',
			margin: [ 69, 0, 80, 50]
        },
        title: {
            text: 'Promised amount ' + id + ' to d' + id,
			style: {
				"fontSize": "18px"
			},
			y: 30
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            allowDecimals: false,
			type: 'datetime',
            labels: {
				format: '{value:%m-%d}'
            }
        },
        yAxis: {
            title: {
                text: ''
            },
            labels: {
                formatter: function () {
                    return this.value / 1000 + 'k';
                }
            }
        },
        tooltip: {
            pointFormat: '{series.name} - <b>{point.y:,.0f}</b>'
        },
		legend: {
			enabled: true
		},
        series: [{
            name: 'Promised amount',
			color: {
				linearGradient: {
					x1: 0,
					x2: 0,
					y1: 0,
					y2: 1
				},
				stops: [
					[0, '#55acef'],
					[1, '#55acef']
				]
			},
			fillColor: {
				linearGradient: {
					x1: 0,
					y1: 0,
					x2: 0,
					y2: 1
				},
				stops: [
					[0, '#55acef'],
					[1, Highcharts.Color('#55acef').setOpacity(0).get('rgba')]
				]
			},
			marker : {
				enabled : false,
				radius : 3
			},
            data: charts[id].promised,
			pointStart: Date.UTC(year, month, day),
        	pointInterval: 24 * 36e5
		}, {
            name: 'd' + id,
			color: {
				linearGradient: {
					x1: 0,
					x2: 0,
					y1: 0,
					y2: 1
				},
				stops: [
					[0, '#c53f40'],
					[1, '#c53f40']
				]
			},
			fillColor: {
				linearGradient: {
					x1: 0,
					y1: 0,
					x2: 0,
					y2: 1
				},
				stops: [
					[0, '#c53f40'],
					[1, Highcharts.Color('#c53f40').setOpacity(0).get('rgba')]
				]
			},
			marker : {
				enabled : false,
				radius : 3
			},
            data: charts[id].dc,
			pointStart: Date.UTC(year, month, day),
        	pointInterval: 24 * 36e5
        }]
    });
}

var prevgraph = $(".graph .nav-link.active").html().substr(1);
initGraph(prevgraph);

function change_graph(id) {
	$("#" + prevgraph).removeClass('in active');
	initGraph(id);
	prevgraph = id;
	$("#" + id).addClass('in active');
	return false;
}

$(window).resize(function() {
	if(this.resizeTO) clearTimeout(this.resizeTO);
	this.resizeTO = setTimeout(function() {
		$(this).trigger('resizeEnd');
	}, 500);
});
</script>
{{end}}

<script>
	var currency_list = [];
	{{range $id, $data := .CurrencyPct}}	{{if $data.Miner}}
			currency_list[{{$id}}] = []
			currency_list[{{$id}}]['miner'] = {{$data.MinerSec}}
			currency_list[{{$id}}]['user'] = {{$data.UserSec}}
			currency_list[{{$id}}]['name'] = '{{$data.Name}}'
	{{end}}{{end}}

	$('#calc_amount, #calc_currency_id, #calc_status, #calc_period').bind("keyup change", function(e) {
		var amount = $('#calc_amount').val();
		var pct_sec = currency_list[$('#calc_currency_id').val()][$('#calc_status').val()];
		var sec =  $('#calc_period').val();
		var new_amount =  Math.pow(1+pct_sec, sec) * amount - amount;

		var number = Math.pow(10, 2);
		if (new_amount<number) {
			if (parseFloat(new_amount)<1)
				var s = 2;
			else
				var s = 1;
			new_amount = new_amount.toString();
			new_amount = new_amount.substr(0, 3+s);
		}
		else {
			new_amount = new_amount.toFixed();
		}
		new_amount = new_amount.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ');
		$('#calc_total').text('+'+new_amount+' d'+currency_list[$('#calc_currency_id').val()]['name']);
	});
</script>

{{ template "signatures". }}

{{end}}