{{define "miningSn"}}
<script>

	$('#send_to_net').bind('click', function () {

		$.post( 'ajax?controllerName=saveQueue', {
			'type' : '{{.TxType}}',
			'time' : '{{.TimeNow}}',
			'user_id' : '{{.UserId}}',
			'signature1': $('#signature1').val(),
			'signature2': $('#signature2').val(),
			'signature3': $('#signature3').val()
		}, function (data) {
			dc_navigate ('PromisedAmountRestrictedList', {'alert': '{{.Lang.sent_to_the_net}}'} );
		} );
	} );

</script>
<h1 class="page-header">miningSn</h1>

{{template "alertSuccess".}}

{{template "signatures".}}

<script>
	doSign();
	{{if not .ShowSignData}}$("#send_to_net").trigger("click");{{end}}
</script>
{{end}}