{{define "miningMenu"}}
<div class="mining_menu">
	<script>
		$(document).ready(function() {
			$( "#progress_bar" ).load( "ajax?controllerName=progressBar" );
		});
	</script>
	
	<h1 class="page-header">{{.Lang.mining}}</h1>
	
	{{template "alertSuccess".}}
	<div>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link active" aria-expanded="true" href="#tab1" data-toggle="tab">{{.Lang.general}}</a>
			</li>
			<li class="nav-item"><a class="nav-link" aria-expanded="false" href="#tab2" data-toggle="tab">{{.Lang.assignments}}</a>
			</li>
			<li class="nav-item"><a class="nav-link" aria-expanded="false" href="#tab3" data-toggle="tab">{{.Lang.additionally}}</a>
			</li>
		</ul>
	
		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane fade active in" id="tab1">
				<div class="tabs_table">
					<div class="col-lg-3">
						<div class="card card-info card-inverse">
							<div class="card-header">
								{{.Lang.promised_amounts}}
							</div>
							<div class="card-block">
								<p>{{.Lang.mining_menu_promised_amounts_text}}</p>
							</div>
							<div class="card-footer">
								<a href="#promisedAmountList">{{.Lang.goto}}</a>
							</div>
						</div>
					</div>
		
					<div class="col-lg-3">
						<div class="card card-info card-inverse">
							<div class="card-header">
								{{.Lang.outgoing}}
							</div>
							<div class="card-block">
								<p>{{.Lang.mining_menu_outgoing_text}}</p>
							</div>
							<div class="card-footer">
								<a href="#" onclick="map_navigate('cashRequestOut')">{{.Lang.goto}}</a>
							</div>
						</div>
					</div>
					
					<div class="col-lg-3">
						<div class="card card-info card-inverse">
							<div class="card-header">
								{{.Lang.inbox}}
							</div>
							<div class="card-block">
								<p>{{noescape .Lang.mining_menu_inbox_text}}</p>
							</div>
							<div class="card-footer">
								<a href="#cashRequestIn">{{.Lang.goto}}</a>
							</div>
						</div>
					</div>
		
					<div class="col-lg-3">
						<div class="card card-info card-inverse">
							<div class="card-header">
								{{.Lang.vote_for_me}}
							</div>
							<div class="card-block">
								<p>{{.Lang.mining_menu_vote_for_me_text}}</p>
							</div>
							<div class="card-footer">
								<a href="#voteForMe">{{.Lang.goto}}</a>
							</div>
						</div>
					</div>
				</div>
	
			</div>
			<div class="tab-pane fade" id="tab2">
				<div class="tabs_table">
					<div class="col-lg-4">
						<div class="card card-success card-inverse">
							<div class="card-header">
								{{.Lang.points}}
							</div>
							<div class="card-block">
								<p>{{.Lang.mining_menu_points_text}}</p>
							</div>
							<div class="card-footer">
								<a href="#points">{{.Lang.goto}}</a>
							</div>
						</div>
					</div>
		
		
					<div class="col-lg-4">
						<div class="card card-success card-inverse">
							<div class="card-header">
								{{.Lang.tasks}}
							</div>
							<div class="card-block">
								<p>{{.Lang.mining_menu_tasks_text}}</p>
							</div>
							<div class="card-footer">
								<a href="#" onclick="map_navigate('assignments')">{{.Lang.goto}}</a>
							</div>
						</div>
					</div>
		
		
					<div class="col-lg-4">
						<div class="card card-success card-inverse">
							<div class="card-header">
								{{.Lang.voting}}
							</div>
							<div class="card-block">
								<p>{{.Lang.mining_menu_voting_text}}</p>
							</div>
							<div class="card-footer">
								<a href="#voting">{{.Lang.goto}}</a>
							</div>
						</div>
					</div>
				</div>
	
	
	
	
			</div>
			<div class="tab-pane fade" id="tab3">
	
				<div class="tabs_table">
					<div class="col-lg-4">
						<div class="card card-warning card-inverse">
							<div class="card-header">
								{{.Lang.reg_users}}
							</div>
							<div class="card-block">
								<p>{{.Lang.mining_menu_reg_users_text}}</p>
							</div>
							<div class="card-footer">
								<a href="#newUser">{{.Lang.goto}}</a>
							</div>
						</div>
					</div>
		
					<div class="col-lg-4">
						<div class="card card-warning card-inverse">
							<div class="card-header">
								{{.Lang.commission}}
							</div>
							<div class="card-block">
								<p>{{.Lang.mining_menu_commission_text}}</p>
							</div>
							<div class="card-footer">
								<a href="#changeCommission">{{.Lang.goto}}</a>
							</div>
						</div>
					</div>
		
					<div class="col-lg-4">
						<div class="card card-warning card-inverse">
							<div class="card-header">
								{{.Lang.holidays}}
							</div>
							<div class="card-block">
								<p>{{.Lang.mining_menu_holidays_text}}</p>
							</div>
							<div class="card-footer">
								<a href="#holidaysList">{{.Lang.goto}}</a>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs_table">
					<div class="col-lg-4">
						<div class="card card-warning card-inverse">
							<div class="card-header">
								{{.Lang.geolocation}}
							</div>
							<div class="card-block">
								<p>{{.Lang.mining_menu_geolocation_text}}</p>
							</div>
							<div class="card-footer">
								<a href="#" onclick="map_navigate ('changeGeolocation')">{{.Lang.goto}}</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card card-warning card-inverse">
							<div class="card-header">
								{{.Lang.sms_and_email_notifications}}
							</div>
							<div class="card-block">
								<p>{{.Lang.sms_and_email_notifications}}</p>
							</div>
							<div class="card-footer">
								<a href="#" onclick="map_navigate ('Notifications')">{{.Lang.goto}}</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card card-warning card-inverse">
							<div class="card-header">
								Exchange voting
							</div>
							<div class="card-block">
								<p>Exchange voting</p>
							</div>
							<div class="card-footer">
								<a href="#" onclick="dc_navigate ('VotesExchange')">{{.Lang.goto}}</a>
							</div>
						</div>
					</div>
				</div>


				<div class="tabs_table">
					<div class="col-lg-4">
						<div class="card card-warning card-inverse">
							<div class="card-header">
								FREE COINS
							</div>
							<div class="card-block">
								<p>FREE COINS</p>
							</div>
							<div class="card-footer">
								<a href="#" onclick="map_navigate ('{{if .FreeCoin}}PromisedAmountRestrictedList{{else}}PromisedAmountRestricted{{end}}')">{{.Lang.goto}}</a>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	
	
	</div>
	
	<div class="clearfix"></div>
	<div class="table_fix">
	{{noescape .LastTxFormatted}}
	<script src="static/js/unixtime.js"></script>
	
	{{end}}
	</div>
</div>