{{define "miningSn"}}
<script>

	function mining_sn() {
		$.post( 'ajax?controllerName=saveQueue', {
			'type' : '{{.TxType}}',
			'time' : '{{.TimeNow}}',
			'user_id' : '{{.UserId}}',
			'signature1': $('#signature1').val(),
			'signature2': $('#signature2').val(),
			'signature3': $('#signature3').val()
		}, function (data) {
			dc_navigate ('PromisedAmountRestrictedList', {'alert': '{{.Lang.sent_to_the_net}}'} );
		} );
	}

	$('#send_to_net').bind('click', mining_sn );
	check_key_and_show_modal();

</script>
<h1 class="page-header">miningSn</h1>

{{template "alertSuccess".}}

{{template "signatures".}}

<script>
	setTimeout( function() {
		{{if .ShowSignData}}$("#sign").css("display", "block");{{end}}
		doSign();
		{{if not .ShowSignData}}mining_sn();{{end}}
	}, 500 );
</script>
{{end}}