{{define "poolAdmin"}}
<script>
	$('#sql').change(function () {
		file_upload('sql', 'sql_progress', 'sql', 'poolAddUsers');
	});

	$('#save').bind('click', function () {

		if($("#pool_tech_works").is(':checked'))
			var pool_tech_works = '1';
		else
			var pool_tech_works = '0';

		dc_navigate ('poolAdminControl', {'pool_tech_works':pool_tech_works, 'pool_max_users':$('#pool_max_users').val(), 'commission':$('#commission').val() } );
	} );

</script>

<link rel="stylesheet" href="static/css/progress.css" type="text/css" />
<script type="text/javascript" src="static/js/uploader.js"></script>
<script src="static/js/js.js"></script>
<h1 class="page-header">Pool admin</h1>
{{template "alertSuccess".}}

<div id="new">

	<div class="form-horizontal">
		<fieldset>
			<div class="form-group">
				<label class="col-md-4 control-label" for="pool_tech_works">pool_tech_works</label>
				<div class="col-md-4">
					<input name="pool_tech_works" id="pool_tech_works" type="checkbox" {{if eq .Config.pool_tech_works "1"}}checked{{end}}>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label" for="pool_max_users">pool_max_users</label>
				<div class="col-md-4">
					<input id="pool_max_users" name="pool_max_users" class="form-control input-md" type="text" value="{{.Config.pool_max_users}}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label" for="commission">Commission</label>
				<div class="col-md-4">
					    <textarea class="form-control" id="commission" name="commission">{{.Config.commission}}</textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label" for="save"></label>
				<div class="col-md-4">
					<button id="save" name="save" class="btn btn-primary">{{.Lang.save}}</button>
				</div>
			</div>
		</fieldset>
	</div>



	<div id="sql_progress" class="my_progress">0%</div><br>
	<div id="sql_ok" class="alert alert-success" style="display: none"></div>
	<div class="form-horizontal">
		<fieldset>
			<div class="form-group">
				<label class="col-md-4 control-label" for="file">Import users from sql</label>
				<div class="col-md-4">
					<input id="sql" name="file" class="input-file" type="file">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label" for="singlebutton">Export users to sql</label>
				<div class="col-md-4">
					<a type="button"  href="ajax?controllerName=poolDataBaseDump" id="singlebutton" name="singlebutton" class="btn btn-primary">Download</a>
				</div>
			</div>

		</fieldset>
	</div>


	<h3>Users</h3><table class='table' style='width: 500px'><thead><tr><th>user_id</th><th>miner_id</th><th>email</th><th>del</th></tr></thead>
	{{range $id, $data_ := .Users}}
	{{range $uid, $data := $data_}}
		<tr><td><a onclick="dc_navigate('poolAdminLogin', {'userId': {{$uid}} })">{{$uid}}</a></td><td>{{$data.miner_id}}</td><td>{{$data.email}}</td><td><a class="btn btn-danger" href="#" onclick="dc_navigate('poolAdminControl', {'del_id':'{{$uid}}'}); return false;"><i class="fa fa-trash-o fa-lg"></i> {{.Lang.delete}}</a></td></tr>
	{{end}}
	{{end}}
	</table>

	<h3>Pool waiting list</h3><table class='table' style='width: 500px'><thead><tr><th>time</th><th>email</th><th>user_id</th></tr></thead>
	{{range $k, $data := .WaitingList}}
		<tr><td>{{$data.time}}</td><td>{{$data.email}}</td><td>{{$data.user_id}}</td></tr>
	{{end}}
	</table>

</div>
     
{{end}}