{{define "PromisedAmountRestrictedList"}}
<script>

	$('#getCoins').bind('click', function () {
		if (new_amount-30 > 0.1) {
			dc_navigate ('miningSn', {'alert': '{{.Lang.sent_to_the_net}}'} );
		} else {
			$('#message').html(	'<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button>Min 0.1 dUSD, please wait</div>' )
		}
	});


	$('#upgradeUser').bind('click', function () {
		dc_navigate ('upgradeUser');
	});

	var pct = {{.Pct}}/10;
	var amount = {{.Amount}};
	var pstart = new Date().getTime();
	var more = true;

	function coins_counter() {
		rest = Math.round( (new Date().getTime() - pstart)/100 );
		new_amount =  (Math.pow(1+pct, rest) * amount);
		$('#tdc').html((new_amount-30).toFixed(7) + " dUSD");
		{{if and (not .MinerId) .MinWalletAmount}}
			if ( more && new_amount-30 > 0.1 ) {
				$("#morecoins").show();
				more = false;
			}
		{{end}}
		setTimeout( coins_counter, 200 );
	}
	setTimeout( coins_counter, 200 );

</script>
<h1 class="page-header">{{.Lang.mining}}</h1>
{{if .MinerId}}
	<ol class="breadcrumb" style="position: relative;">
		<li><a href="#miningMenu">{{.Lang.mining}}</a></li>
		<li class="active">Free Coins</li>
	    <span style="position: absolute; right: 13px;"><i class="fa fa-refresh" onclick="rTpl()" style="color: #2A6496;cursor: pointer; cursor: hand; "></i></span></ol>
{{end}}


<div id="message"></div>
{{template "alertSuccess".}}
<div id="tdc" style="font-size:60px"></div>
1 dUSD = 1$<br>
{{if and (not .MinerId) .MinWalletAmount}}
	<button class="btn btn-primary" id="morecoins" onclick="dc_navigate('upgrade1')">{{.Lang.want_more}}</button><br>
{{end}}
Passed the test in a social network:
{{if or (.LastTxQueueTx) (.LastTxTx)}}
	{{if (ne .UserSn "sn_user")}}Pending{{else}}YES{{end}}<br>
{{else if (ne .UserSn "sn_user")}}
	{{if and .Attempts (not .IsUpgrading)}}<a id="upgradeUser" href="#">no</a>{{else}}no{{end}} ({{.Attempts}} attempts)<br>
{{else}}
	YES<br><button id="getCoins" class="btn btn-primary">To wallet</button>
{{end}}

<!--<button class="btn btn-primary" onclick="dc_navigate('upgrade1')">Upgrade Now</button>-->
{{template "signatures".}}

<script>
	//doSign();
</script>

<div style="max-width: 600px;" id="tx_history">

	{{if .LastTxFormatted}}{{noescape .LastTxFormatted}}{{end}}

</div>

<script src="static/js/unixtime.js"></script>


{{end}}


