{{define "promisedAmountList"}}
<script>
	if (typeof intervalIdArray != "undefined") {
		for (i=0; i<intervalIdArray.length; i++)
			clearInterval(intervalIdArray[i]);
	}
	function disable_amount(id){
		$("#amount"+id + " input").attr("disabled", true );
		$("#amount"+id + " .btn").hide();
	}
	function mining_click(id){
		console.log($('#repaid-input-'+id).val());
		disable_amount(id);
		dc_navigate('miningPromisedAmount',  {'promised_amount_id':id, 'amount':$('#repaid-input-'+id).val()});
	}
	function change_amount_click(id){
		disable_amount(id);
		dc_navigate('changePromisedAmount',  {'promised_amount_id':id, 'amount':$('#amount-input-'+id).val()});
	}
	function delete_amount_click(id){
		disable_amount(id);
		dc_navigate('delPromisedAmount', {'del_id': id })
	}

	function clear_amount (id) {
		console.log(id);
		var amount = $("#"+id).val();
		console.log($("#"+id).val());
		var amount_ = '';
		if (typeof amount!='undefined') {
			amount_ = parseFloat(amount.replace(",", "."));
			amount_ = amount_.toFixed(2);

			if (amount.indexOf(",") != -1) {
				$("#" + id).val(amount_);
			}
		}
	}


	function dc_counter(amount, pct, currency_id)
	{
		var i=0;
		pct = pct / 3;

		var intervalID = setInterval( function() {
			i++;
			//console.log(i);
			var new_amount =  Math.pow(1+pct, i) * amount;
			$('#'+currency_id).text(new_amount.toFixed(5));
		} , 300);
		intervalIdArray.push(intervalID);
	}

	check_key_and_show_modal();

	$("#main_div select").addClass( "form-control" );
	$("#main_div input").addClass( "form-control" );
	$("#main_div button").addClass( "btn-outline btn-primary" );
	$("#main_div .put_in_the_wallet").width( 130 );
	$("#main_div .amount").width( 70 );

</script>
<div id="main_div">
	<h1 class="page-header">{{.Lang.promised_amount_title}}</h1>
	<ol class="breadcrumb" style="position: relative;">
		<li><a href="#miningMenu">{{.Lang.mining}}</a></li>
		<li class="active">{{.Lang.promised_amount_title}}</li>
	<span style="position: absolute; right: 13px;"><i class="fa fa-refresh" onclick="rTpl()" style="color: #2A6496;cursor: pointer; cursor: hand; "></i></span></ol>

	{{template "alertSuccess".}}

	{{if .PromisedAmountListAccepted}}
	<div class="table_fix">
		<table id="promised_amount_list" class="table" style="width:500px">
		<thead><tr><th>ID</th><th>{{.Lang.status}}</th><th style='text-align: center'>{{.Lang.currency}}</th><th style='text-align: center'>{{.Lang.amount}}</th><th>DC</th><th style='text-align: center'>{{.Lang.in_wallet}}</th><th style='text-align:center'></th></tr></thead>
		<tbody>
		{{$js:=""}}
		{{range  $data:= .PromisedAmountListAccepted}}
			{{$to_wallet:=0}}
			{{if gt $data.Tdc 0.01}}{{$to_wallet := minus $data.Tdc 0.01}}{{end}}
			<tr id="amount{{$data.Id}}">
			<td>{{$data.Id}}</td>
			<td>{{$data.StatusText}}</td>
			<td style='text-align: center'>{{index $.CurrencyList $data.CurrencyId}}</td>
			{{if or (eq $data.CurrencyId 1) (eq $data.Status "repaid")}}
				<td style='text-align: center'>{{$data.Amount}}</td>
			{{else}}
				<td style='text-align: center'><input type='text' {{if $data.InProcess}}disabled="true"{{end}} class='amount' id='amount-input-{{$data.Id}}' onkeyup="clear_amount('amount-input-{{$data.Id}}')" value='{{$data.Amount}}'><button {{if $data.InProcess}}style="display:none;"{{end}} onclick="change_amount_click({{$data.Id}})" class='btn' >{{$.Lang.change}}</button>(max: {{$data.MaxAmount}})</td>
			{{end}}
			{{$color:="green"}}
			{{if eq $data.CurrencyId 1}}{{$color:="#428BCA"}}{{end}}
			<td id='currency_{{$data.CurrencyId}}_{{$data.Status}}' style='color: {{$color}}; font-weight: bold; font-size: 15px'>{{$data.Tdc}}</td>
			<td style='text-align: center'><input type='text' {{if $data.InProcess}}disabled="true"{{end}} class='input-mini' id='repaid-input-{{$data.Id}}' onkeyup="clear_amount('repaid-input-{{$data.Id}}')" value='{{$to_wallet}}'><button  {{if $data.InProcess}}style="display:none;"{{end}} onclick="mining_click({{$data.Id}})" class='btn put_in_the_wallet' >{{$.Lang.put_in_the_wallet}}</button></td>
			{{if gt $data.CurrencyId 1}}
				<td><a class="btn btn-outline btn-danger" {{if $data.InProcess}}style="display:none;"{{end}} href="#" onclick="delete_amount_click('{{$data.Id}}')"><i class="fa fa-trash-o fa-lg"></i> {{$.Lang.delete}}</a></td>
			{{else}}
				<td></td>
			{{end}}
			</tr>
			{{if gt $data.PctSec 0.0}}
				<script>dc_counter({{$data.Tdc}}, {{$data.PctSec}}, 'currency_{{$data.CurrencyId}}_{{$data.Status}}');</script>
			{{end}}
		{{end}}
		</tbody>
		</table>
	</div>
	{{end}}
	{{if not .DisableNewAmount}}
	<a href="#newPromisedAmount" type="button" class="btn btn-outline btn-primary">{{.Lang.add_note}}</a>
	{{end}}
	
	<div class="table_fix">
		{{noescape .LastTxFormatted}}
	</div>

	{{if .ActualizationPromisedAmounts}}
		<button  onclick="dc_navigate('promisedAmountActualization')" class="btn">{{.Lang.actualize_promised_amounts}}</button>
	{{end}}
<br><br><div class="alert alert-info"><strong>{{.Lang.limits}}</strong>  {{.LimitsText}}</div>
<br>
<a href="#forRepaidFix">for_repaid_fix</a>
</div>

<style>
	.stacktable { width: 100%; }
	.st-head-row { padding-top: 1em;font-size: 2em; text-align: center }
	.st-head-row.st-head-row-main { font-size: 1.5em; padding-top: 0; }
	.st-key { width: 49%; text-align: right; padding-right: 1%; }
	.st-val { width: 49%; padding-left: 1%; }

	.stacktable.large-only { display: table; }
	.stacktable.small-only { display: none; }

	@media (max-width: 1000px) {
		.stacktable.large-only { display: none; }
		.stacktable.small-only { display: table; }
	}
</style>
<script src="static/js/stacktable.js"></script>
<script>
	$( document ).ready(function() {
		//$('#promisedAmountList').stacktable();
	});
</script>
<script src="static/js/unixtime.js"></script>
{{end}}