{{define "promisedAmountActualization"}}
<script>

	$('#send_to_net').bind('click', function () {

		$.post( 'ajax?controllerName=saveQueue', {
			'type' : '{{.TxType}}',
			'time' : '{{.TimeNow}}',
			'user_id' : '{{.UserId}}',
			'signature1': $('#signature1').val(),
			'signature2': $('#signature2').val(),
			'signature3': $('#signature3').val()
		}, function (data) {
			dc_navigate ('promisedAmountList', {'alert': '{{.Lang.sent_to_the_net}}'} );
		} );
	} );

</script>
<h1 class="page-header">{{.Lang.actualization_promised_amounts}}</h1>
<ol class="breadcrumb" style="position: relative;">
	<li><a href="#miningMenu">{{.Lang.mining}}</a></li>
	<li><a href="#promisedAmountList">{{.Lang.promised_amount_title}}</a></li>
	<li class="active">{{.Lang.actualization_promised_amounts}}</li>
<span style="position: absolute; right: 13px;"><i class="fa fa-refresh" onclick="rTpl()" style="color: #2A6496;cursor: pointer; cursor: hand; "></i></span></ol>

{{template "alertSuccess".}}

{{template "signatures".}}

<script>
	doSign();
	{{if not .ShowSignData}}$("#send_to_net").trigger("click");{{end}}
</script>
{{end}}