{{define "setPassword"}}

<style>
	#page-wrapper{
		margin: 0px 10% 0px 10%;
		border: 1px solid #E7E7E7;
		/*min-height: 550px;*/
	}
	#wrapper{height: 100%;}
	#dc_content{
		/*height: 550px;*/
		vertical-align: middle;
	}
	#main_data {
		padding-top: 20px;
	}
	#cancel {
		margin-right:10px;
	}
</style>

<script>
	$('#download').bind('click', function () {
		$('#download').html('<img src="/static/img/squares.gif" style="width:20px; margin:0px">');
		$( "form#main_form" ).submit();
		{{if or .IOS .Android}}
		$( "#download_div" ).html("<strong>{{.Lang.key_stored_in_photos}}</strong>");
		$( "#download_div" ).css("text-align", "center");
		{{else}}
		$( "#download_div" ).css("display", "none");
		{{end}}
		$( "#goto_waiting_accept_new_key" ).css("display", "block");
	});
	
	$('#goto_waiting_accept_new_key').bind('click', function () {
		$('#goto_waiting_accept_new_key').prop('disabled', true);
		dc_navigate ('waitingAcceptNewKey', "");
	});
	
	$('#cancel').bind('click', function () {
		$(this).prop('disabled', true);
		logout();
	});
	$( document ).ready(function() {
		$('#wrapper').spin(false);
	});
</script>
<h1 class="page-header">{{.Lang.set_password_title}}</h1>

<div id="main_data">

		<div class="form-horizontal">
			<form id="main_form" method="{{if .Mobile}}get{{else}}post{{end}}" action="ajax?controllerName=dcoinKey" target="_blank">
				<fieldset>
					<input type="hidden" name="first" value="1">
					<input type="hidden" name="controllerName" value="dcoinKey">

					<!-- Password input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="new_password">{{.Lang.password}}</label>
						<div class="col-md-4">
							<input id="new_password" class="form-control input-md" name="password" type="password">
							<span class="help-block">{{.Lang.choose_a_password}}</span>
						</div>
					</div>

				</fieldset>

			</form>
					<!-- Button -->
					<div class="form-group" id="download_div">
						<label class="col-md-4 control-label" for="download"></label>
						<div class="col-md-4">
							<button id="cancel" class="btn btn-default">{{.Lang.cancel}}</button>
							<button id="download" class="btn btn-default">{{.Lang.download}}</button>
						</div>
					</div>

					<!-- Button -->
					<div class="form-group">
						<label class="col-md-4 control-label" for="goto_waiting_accept_new_key"></label>
						<div class="col-md-4">
							<a id="goto_waiting_accept_new_key" class="btn btn-primary" style="display: none">{{.Lang.next}}</a>
						</div>
					</div>

		</div>

</div>

{{end}}