{{define "setPasswordNew"}}

<style>
	#page-wrapper{
		margin: 0px 10% 0px 10%;
		border: 1px solid #E7E7E7;
		/*min-height: 550px;*/
	}
	#wrapper{height: 100%;}
	#dc_content{
		/*height: 550px;*/
		vertical-align: middle;
	}
	#main_data {
		padding-top: 20px;
	}
</style>

<script>
	$('#download').bind('click', function () {
		
		$('#download').html('<img src="/static/img/squares.gif" style="width:20px; margin:0px">');
					$('#no_available_keys').css('display', 'block');
					$('#signUpModal').modal({ backdrop: 'static' });
		return;		
//		{if .Community}'email': $('#sign_up_in_pool_email').val(){end}
		
		$.post('ajax?controllerName=availableKeysNew', { {{if .Community}}'email': '{{.Email}}'{{end}} }, function(data) {
				$('#download').html( '{{.Lang.download}}' );
				if (data.success) {
					$( "form#main_form" ).submit();
					$(".page-header").html('{{.Lang.next}}');
					{{if or .IOS .Android}}
						$( "#download_div" ).html("<strong>{{.Lang.key_stored_in_photos}}</strong>");
						$( "#download_div" ).css("text-align", "center");
					{{else}}
						$( "#download_div" ).css("display", "none");
//						dc_navigate ('waitingAcceptNewKey', "");
					{{end}}
					$("#main_form").css("display", "none");
					$( "#goto_waiting_accept_new_key" ).css("display", "block");
				} else if (data.error && data.error == "no_available_keys") {
					$('#no_available_keys').css('display', 'block');
					$('#signUpModal').modal({ backdrop: 'static' });
				} else if (data.error) {
					$('#available_key_alert').html('<div id="alertModalPull" class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><p>'+data.error+'</p></div>');
					$('#signUpModal').modal({ backdrop: 'static' });
				}
			}, "JSON");
	});

	$('#goto_waiting_accept_new_key').bind('click', function () {
		$('#goto_waiting_accept_new_key').prop('disabled', true);
		dc_navigate ('waitingAcceptNewKey', "");
	});
	$( document ).ready(function() {
		$('#wrapper').spin(false);
	});
</script>
<h1 class="page-header">{{.Lang.set_password_title}}</h1>

<div id="main_data">

		<div class="form-horizontal">
			<form id="main_form" method="{{if .Mobile}}get{{else}}post{{end}}" action="ajax?controllerName=dcoinKey" target="_blank">
				<fieldset>
					<input type="hidden" name="first" value="1">
					<input type="hidden" name="controllerName" value="dcoinKey">

					<!-- Password input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="new_password">{{.Lang.password}}</label>
						<div class="col-md-4">
							<input id="new_password" class="form-control input-md" name="password" type="password">
							<span class="help-block">{{.Lang.choose_a_password}}</span>
						</div>
					</div>

				</fieldset>

			</form>
					<!-- Button -->
					<div class="form-group" id="download_div">
						<label class="col-md-4 control-label" for="download"></label>
						<div class="col-md-4">
							<button id="download" class="btn btn-default">{{.Lang.download}}</button>
						</div>
					</div>

					<!-- Button -->
					<div class="form-group">
						<label class="col-md-4 control-label" for="goto_waiting_accept_new_key"></label>
						<div class="col-md-4">
							<a id="goto_waiting_accept_new_key" class="btn btn-primary" style="display: none">{{.Lang.next}}</a>
						</div>
					</div>

		</div>

</div>

<div class="modal fade" id="signUpModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">{{.Lang.signup_title}}</h4>
			</div>
			<div style="margin: 15px;display:none;" id="no_available_keys">
				{{.Lang.need_key}}
			</div>
			<div style="margin: 15px;" id="available_key_alert">
				
			</div>
		</div>
	</div>
</div>

{{end}}