{{define "statistic"}}
<style>
	.control-label {
		display:block;
		padding:0px;
		margin-bottom:0rem;
	}
	.form-group {
		display:flex;
		font-size:0px;
	}
	.form-group div {
		flex-grow:1;
		display:inline-block;
		box-sizing:border-box;
		vertical-align:top;
	}
	.form-control {
		border-radius:5px 0px 0px 5px;
	}
	#find_user_info {
		border-radius:0px 5px 5px 0px;
	}
	@media screen and (max-width: 480px) {
		form {
			flex-flow:row wrap;
			justify-content: flex-end;
		}
		#sn_type {
			width:50%;
			font-size:11px;
		}
		#sn_url_id {
			width:50%;
			border-radius:0px 5px 5px 0px;
			border-right-width:1px;
			font-size:11px;
		}
		#save {
			border-radius:5px;
			margin-top:10px !important;
		}
	}
</style>
<script>

	$('#profileclose').bind('click', function () {
		$("#profile_window").css("display", "none");
	});

	$('#find_user_info').bind('click', function () {
		dc_navigate ('statistic', {'user_info_id': $("#user_info_id").val()} );
	});

</script>

<script src="static/js/js.js"></script>
<div id="profile_window" style="display:none; max-width:750px; padding:10px 10px; background-color:#fff; border:1px solid black; margin:0px auto;">
	<button type="button" class="close" id="profileclose">×</button>
	<div style="float: left; margin-right: 10px"><img id="profile_photo" width="200"></div>
	{{.Lang.abuses}}: <span id="profile_abuses"></span><br>
	{{.Lang.reg_time}}: <span id="profile_reg_time"></span>
	<div id="reloadbtn"></div>
</div>

<h1 class="page-header">{{.Lang.statistic}}</h1>
<div class="form-horizontal" style="max-width:750px; margin:0px auto;">
	<label class="control-label" for="user_info_id">{{.Lang.user_info}}</label>
	<div class="form-group">
		<div>
			<input id="user_info_id" name="user_info_id" class="form-control" type="text">
			<small class="text-muted">{{.Lang.user_info_text}}</small>
		</div>
		<button id="find_user_info" name="find_user_info" class="btn btn-primary">{{.Lang.find}}</button>
	</div>
</div>
{{if .UserInfoId}}
	<h3>User ID: {{.UserInfoId}}</h3>
	<h3>{{.Lang.balances}}</h3>
	<div class="table_fix">
	<table class="table table-bordered" style="max-width:750px;">
	<thead><tr><th>{{.Lang.currency}}</th><th>{{.Lang.amount}}</th></tr></thead>
	{{if .UserInfoWallets}}
		{{range $k, $data := .UserInfoWallets}}
		<tr>
		{{if ge $data.CurrencyId 1000}}
			<td><a href="#cfPagePreview/onlyCfCurrencyName={{index $.CurrencyList $data.CurrencyId}}">{{index $.CurrencyList $data.CurrencyId}}</a></td>
		{{else}}
			<td>d{{index $.CurrencyList $data.CurrencyId}}</td>
		{{end}}
		<td>{{$data.Amount}}</td>
		</tr>
		{{end}}
	{{end}}
	</table>
	</div>

	{{if .Credits}}
		<h3>{{.Lang.credits}}</h3>
		<div class="table_fix">
		<table class="table table-bordered" style="max-width:750px;">
		<thead><tr><th>{{.Lang.currency}}</th><th>{{.Lang.amount}}</th></tr></thead>
		<tbody>
		{{range $amount, $currency_id := .Credits}}
			<tr>
			<td>d{{index $.CurrencyList (strToInt64 $currency_id)}}</td>
			<td>{{index $amount}}</td>
			</tr>
		{{end}}
		</tbody>
		</table>
		</div>
	{{end}}

	{{if .PromisedAmountListAccepted}}
	<h3>{{.Lang.promised_amounts}}</h3>
	<div class="table_fix">
	<table class="table table-bordered" style="max-width:750px;">
	<thead><tr><th>ID</th><th>{{.Lang.status}}</th><th style='text-align: center'>{{.Lang.currency}}</th><th style='text-align: center'>{{.Lang.amount}}</th><th style='text-align: center'>{{.Lang.pct_year}}</th><th>Coins</th></tr></thead>
	<tbody>
		{{range $k, $data := .PromisedAmountListAccepted}}

			<tr>
				<td>{{$data.Id}}</td>
				<td>{{$data.StatusText}}</td>
				<td style='text-align: center'>{{index $.CurrencyList $data.CurrencyId}}</td>
				<td style='text-align: center'>{{$data.Amount}}</td>
				<td style='text-align: center'>{{$data.Pct}}</td>
				<td>{{$data.Tdc}}</td>
			</tr>
		{{end}}
	</tbody>
	</table>
	</div>
	{{end}}

{{end}}


<h3>{{.Lang.general}}</h3>
<div class="table_fix">
<table class="table table-bordered" style="max-width:750px;">
<thead><tr><th>{{.Lang.currency}}</th><th>Coins</th><th>{{.Lang.promised_amounts}} ({{.Lang.reduction_text}})</th><th>max promised amount</th><th>miners</th><th>users</th></tr></thead>
<tbody>
	{{if .SumWallets}}
		{{range $currencyId, $sumAmount := .SumWallets}}
		<tr>
			{{if and (gt $sumAmount 0.0) (lt $currencyId 1000)}}
				<td>d{{index $.CurrencyList $currencyId}}</td>
				<td>{{round $sumAmount 1}}</td>
				{{if or (ge $currencyId 1000) (eq $currencyId 1)}}
					<td>{{$.Lang.impossible}}</td>
				{{else}}
					<td>{{round (index $.SumPromisedAmount (int64ToStr $currencyId)) 2}}</td>
				{{end}}
				<td>{{if ne $currencyId 1}}{{index $.MaxAmount $currencyId}}{{end}}</td>
				<td>{{index $.PromisedAmountMiners (int64ToStr $currencyId)}}</td><td>{{index $.WalletsUsers (int64ToStr $currencyId)}}</td>
			{{end}}
		</tr>
		{{end}}
	{{end}}
</tbody>
</table>
</div>



<h3>{{.Lang.pct}}</h3>

{{if $.CurrencyPct}}
	<div class="table_fix">
	<table class="table table-bordered" style="max-width:750px;">
	<thead><tr><th>{{.Lang.currency}}</th><th>{{.Lang.pct_block}} miner</th><th>{{.Lang.pct_year}} miner</th>
	     <th>{{.Lang.pct_block}} user</th><th>{{.Lang.pct_year}} user</th></tr></thead>
	<tbody>
	{{range $currencyId, $data := .CurrencyPct}}
		{{if or (ne $data.miner "0.0000000000000") (ne $data.user "0.0000000000000")}}
		<tr>
			<td>d{{$data.name}}</td>
			<td>{{$data.miner}}</td>
			<td>{{$data.miner_year}}</td>
			<td>{{$data.user}}</td>
			<td>{{$data.user_year}}</td>
		</tr>
		{{end}}
	{{end}}
	</tbody>
	</table>
	</div>
{{end}}

<h3>count_users</h3>
<table class="table table-bordered" style="max-width:750px;">
	<tbody>
	<tr><td>{{$.CountUsers}}</td></tr>
	</tbody>
</table>


<h3>{{.Lang.reduction_title}} <span style="font-size:15px">(<a href="{{.Lang.reduction_wiki_link}}" target="_blank">wki</a>)</span></h3>
{{if .Reduction}}
	<div class="table_fix">
	<table class="table table-bordered" style="max-width:750px;">
	<thead><tr><th>{{.Lang.time}}</th><th>{{.Lang.currency}}</th><th>{{.Lang.reduction_pct}}</th><th>Block_id</th><th>type</th></tr></thead>
	<tbody>
	{{range $k, $data := .Reduction}}
		{{if $data.pct}}
		<tr>
			<td>{{$data.time}}</td>
			<td>d{{index $.CurrencyList (strToInt64 $data.currency_id)}}</td>
			<td>{{$data.pct}}</td>
			<td>{{$data.block_id}}</td>
			<td>{{$data.type}}</td>
		</tr>
		{{end}}
	{{end}}
	</tbody>
	</table>
	</div>
{{end}}

{{end}}