{{define "upgrade7"}}
<style>
	#agree {
		float:left;
		margin-top:5px;
		margin-right:10px;
	}
</style>
<script>
	$(document).ready(function() {
		$( "#progress_bar" ).load( "ajax?controllerName=progressBar");
	});
</script>
<script>

	$('#next').bind('click', function () {

		$("#main_data").css("display", "none");
		$("#sign").css("display", "block");

		doSign();

	});

	$('#send_to_net').bind('click', function () {

		$('#send_to_net').html('<img src="/static/img/squares.gif" style="width:20px; margin:0px">');
		$('#send_to_net').prop('disabled', true);

		doSign();

		if ($('#agree').is(':checked')) {
			$.post('ajax?controllerName=saveQueue', {
				'type': '{{.TxType}}',
				'time': '{{.TimeNow}}',
				'user_id': '{{.UserId}}',
				'race': '{{.MyTable.race}}',
				'country': '{{.MyTable.country}}',
				'latitude': '{{.Latitude}}',
				'longitude': '{{.Longitude}}',
				'http_host': '{{.MyTable.http_host}}',
				'tcp_host': '{{.MyTable.tcp_host}}',
				'face_hash': '{{.FaceHash}}',
				'profile_hash': '{{.ProfileHash}}',
				'face_coords': '{{.MyTable.face_coords}}',
				'profile_coords': '{{.MyTable.profile_coords}}',
				'video_type': '{{.MyTable.video_type}}',
				'video_url_id': '{{.MyTable.video_url_id}}',
				'node_public_key': '{{.NodePublicKey}}',
				'pool_user_id': '{{.MyTable.pool_user_id}}',
				'signature1': $('#signature1').val(),
				'signature2': $('#signature2').val(),
				'signature3': $('#signature3').val()
			}, function (data) {

				$('#send_to_net').prop('disabled', false);
				$('#send_to_net').html('Send');

				if (data.error != "null")
					var my_alert = '{{.Lang.sent_to_the_net}}';
				else
					var my_alert = data;
				dc_navigate('miningMenu', {'alert': my_alert});
			});
		}
		else {
			$('#send_to_net').prop('disabled', false);
			$('#send_to_net').html('{{.Lang.send_to_net}}');
			$('#errors').html('<div class="alert alert-danger">{{.Lang.do_not_check_the_agreement}}</div>');
		}
	} );

	$("#main_div textarea").addClass( "form-control" );
	check_key_and_show_modal();

</script>

<div id="main_div">
	<h1 class="page-header">{{.Lang.upgrade_title}}</h1>
	{{if not .Mobile}}
	<ol class="breadcrumb" style="position: relative;">
		<li><a href="#miningMenu">{{.Lang.mining}}</a></li>
		<li class="active">{{.Lang.upgrade_title}}</li>
	<span style="position: absolute; right: 13px;"><i class="fa fa-refresh" onclick="rTpl()" style="color: #2A6496;cursor: pointer; cursor: hand; "></i></span></ol>
	{{end}}

	<div class="row seven-cols">
		<div class="row bs-wizard" style="border-bottom:0;">
			{{noescape .UpgradeMenu}}
		</div>
	</div>

	<h3>{{.Lang.sending_data_to_net}}</h3>

	<div id="main_data">

		{{if eq .MyTable.race "0"}}
			<div class='alert alert-danger'>{{.Lang.empty_race}}</div></div>
		{{else if eq .MyTable.country "0"}}
			<div class='alert alert-danger'>{{.Lang.empty_country}}</div></div>
		{{else if eq .FaceHash ""}}
			<div class='alert alert-danger'>{{.Lang.empty_photo}}</div></div>
		{{else if eq .ProfileHash ""}}
			<div class='alert alert-danger'>{{.Lang.empty_photo2}}</div></div>
		{{else if or (eq .MyTable.face_coords "") (eq .MyTable.profile_coords "")}}
			<div class='alert alert-danger'>{{.Lang.empty_points}}</div></div>
		{{else if and (or (eq .MyTable.video_url_id "null") (eq .MyTable.video_type "null")) .NoExistsMp4}}
			<div class='alert alert-danger'>{{.Lang.empty_video}}</div></div>
		{{else if or (eq .MyTable.http_host "") (eq .MyTable.tcp_host "")}}
			<div class='alert alert-danger'>{{.Lang.empty_node}}</div></div>
		{{else if or (eq .Latitude "0") (eq .Longitude "0")}}
			<div class='alert alert-danger'>{{.Lang.empty_geolocation}}</div></div>
		{{else}}
			<div id="errors"></div>
			<input id="agree" type="checkbox"><label for="agree" style="overflow:hidden; display:block; margin-bottom:1rem;">{{.Lang.i_realize_that_my_photos}}</label>
			<center>
				{{if .ShowSignData}}
					<button class="btn btn-success" id="next">{{.Lang.next}}</button>
				{{else}}
					<button class="btn btn-success" id="send_to_net">{{.Lang.send_to_net}}</button>
				{{end}}
			</center>
			</div>
			{{template "signatures".}}
		{{end}}

</div>

{{end}}