{{define "upgradeUser"}}
<script>
	$("#sn_url_id").focus();
	$('#save').bind('click', function () {
		if ($("#sn_url_id").val() === "") {
			$("form").addClass("has-danger");
			return false;
		} else {
			$("#upgradeUser").css("display", "none");
			$("#sign").css("display", "block");
			$("#for-signature").val( '{{.TxTypeId}},{{.TimeNow}},{{.UserId}},'+$("#sn_type").val()+','+$("#sn_url_id").val());
			doSign();
			{{if not .ShowSignData}}$("#send_to_net").trigger("click");{{end}}
		}
	});
	$('#send_to_net').bind('click', function () {
			$.post( 'ajax?controllerName=saveQueue', {
						'type' : '{{.TxType}}',
						'time' : '{{.TimeNow}}',
						'user_id' : '{{.UserId}}',
						'sn_type' : $('#sn_type').val(),
						'sn_url_id' : $('#sn_url_id').val(),
						'signature1': $('#signature1').val(),
						'signature2': $('#signature2').val(),
						'signature3': $('#signature3').val()
					}, function (data) {
						dc_navigate ('PromisedAmountRestrictedList', {'alert': '{{.Lang.sent_to_the_net}}'} );
					}
			);
	});
	$('#sn_url_id').bind('keyup', function () {
		$("form").removeClass("has-danger");
	});
	check_key_and_show_modal();
</script>
<style>
	#change_host p {
		margin-bottom:20px;
	}
	form {
		display:flex;
		font-size:0px;
	}
	.form-control {
		position:relative;
		z-index:1;
	}
	#sn_type {
		display:inline-block;
		width:180px;
		box-sizing:border-box;
		vertical-align:top;
		border-radius:5px 0px 0px 5px;
	}
	#sn_type:focus {
		z-index:2;
	}
	#sn_url_id {
		flex-grow:1;
		display:inline-block;
		width:200px;
		box-sizing:border-box;
		vertical-align:top;
		border-radius:0px;
		border-right-width:0px;
		margin-left:-1px;
	}
	#save {
		box-sizing:border-box;
		vertical-align:top;
		border-radius:0px 5px 5px 0px;
		margin:0px !important;
	}
	@media screen and (max-width: 480px) {
		form {
			flex-flow:row wrap;
			justify-content: flex-end;
		}
		#sn_type {
			width:50%;
			font-size:11px;
		}
		#sn_url_id {
			width:50%;
			border-radius:0px 5px 5px 0px;
			border-right-width:1px;
			font-size:11px;
		}
		#save {
			border-radius:5px;
			margin-top:10px !important;
		}
	}
</style>


<h1 class="page-header">upgradeUser</h1>
<ol class="breadcrumb" style="position: relative;">
	<li><a href="#miningMenu">{{.Lang.mining}}</a></li>
	<span style="position: absolute; right: 13px;"><i class="fa fa-refresh" onclick="rTpl()" style="color: #2A6496;cursor: pointer; cursor: hand; "></i></span></ol>

{{template "alertSuccess".}}

<div id="change_host">
	<p>{{.Lang.upgrade_user_text}}</p>
	<h3>1. Share Dcoin link</h3>
	<div style="text-align:center;"><a href="http://www.facebook.com/share.php?u={{.Lang.dcoin_url}}" onclick="return open_url(this)" target="_blank"><img	src="static/img/facebook.png"></a>
	<a href="https://vk.com/share.php?url={{.Lang.dcoin_url}}" onclick="return open_url(this)" target="_blank"><img	style="margin-left: 16px;" src="static/img/vkontakte.png"></a></div>
	<h3>2. Enter your page here</h3>
	<form>
		<select id="sn_type" class="c-select form-control">
			<option value="fb" selected>http://facebook.com/</option>
			<option value="vk">http://vk.com/</option>
		</select>
		<input type="text" id="sn_url_id" class="form-control">
		<button type="submit" class="btn btn-primary" id="save">{{.Lang.next}}</button>
	</form>
	<!--script type="text/javascript" src="https://yastatic.net/share2/share.js" charset="utf-8"></script>
	<div class="ya-share2" data-services="facebook,vkontakte" data-url="{{.Lang.dcoin_url}}"></div-->
</div>

{{template "signatures".}}

{{end}}