{{define "upgrade1And2"}}
<script>
	var w = 350;
	var h = 500;
	if ($(window).width() <= 320) {
		w = 300;
		h = 428;
	}
	var jcrop_api = '';
	window['crop_img_text'] = "{{.Lang.crop_img}}";
	$(document).ready(function() {
		$( "#progress_bar" ).load( "ajax?controllerName=progressBar");
		$('.photo_cropper').attr('width', w);
		$('.photo_cropper').attr('height', h);
	});

</script>
<style>
	#from_file_form{display: none}
	#from_webcam{display: block}
	@media screen and (max-device-width: 1024px) {
		#from_file_form{display: block}
		#from_webcam{display: none}
		#photo_select_method{display: none}
	}

	@media (max-width: 320px) {
		#img_face {
			width: 100%;
		}
	}
	.photo_cropper{
		width: 350px;
		height: 500px;
	}

	@media (max-width: 320px) {
		.photo_cropper{
			width: 300px;
			height: 428px;
		}
	}
</style>
<script src="static/js/jquery.webcam.as3.js"></script>
<script src="static/js/sAS3Cam.js"></script>
<script src="static/js/cropper.js"></script>
<link href="static/css/cropper.css" rel="stylesheet">

<link rel="stylesheet" href="static/css/AS3Cam.css" type="text/css" />

<h1 class="page-header">{{.Lang.upgrade_title}}</h1>
{{ if not .Mobile }}
<ol class="breadcrumb" style="position: relative;">
	<li><a href="#miningMenu">{{.Lang.mining}}</a></li>
	<li class="active">{{.Lang.upgrade_title}}</li>
<span style="position: absolute; right: 13px;"><i class="fa fa-refresh" onclick="rTpl()" style="color: #2A6496;cursor: pointer; cursor: hand; "></i></span></ol>
{{end}}

<div class="row seven-cols">
	<div class="row bs-wizard" style="border-bottom:0;">
		{{noescape .UpgradeMenu}}
	</div>
</div>
	<h3>{{.Lang.upload_2_photo}}</h3>
	<div style="display: none">Please upgrade your browser to latest version</div>
	{{noescape .Lang.upload_2_photo_rules}}
	<p id="photo_select_method"><a href="#" id="from_webcam_show">{{ .Lang.from_webcam }}</a> {{.Lang.or}} <a href="#" id="from_file_show">{{.Lang.from_file}}</a></p>
	<div id="from_webcam">

		<table border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td class="webcam-container size640x480">
					<div id="webcam" class="size640x480"></div>
				</td>
			</tr>
			<tr>
				<td class="webcam-text">
					<!--<div>
						<select id="popup-webcam-cams"></select>
					</div>-->
					<div>
						<input
						    class="btn btn-primary btn-lg btn-block"
							id="popup-webcam-take-photo"
							type="button"
							disabled="disabled"
							value="{{.Lang.take_a_photo}}"
							style="display:none" />
					</div>
					<!--<p class="webcam-error"></p>-->
				</td>
			</tr>
		</table>
		<br/>

	</div>
	<div id="from_file">
		<fieldset id="from_file_form">
			<input accept="image/*"  capture="camera" type="file" name="upload" id="change_pkey_upload_hidden" style="position: absolute; display: block; overflow: hidden; width: 0; height: 0; border: 0; padding: 0;" />
			<div style="width:100%;  border:2px dashed black; height: 100px; padding: 15px 0px 15px 0px" id="change_pkey_key_div">
				<div style="margin:auto; text-align:center; line-height:22px">
					<p style="margin-bottom:0px"  id="change_pkey_key_file_name" onclick="document.getElementById('change_pkey_upload_hidden').click();"></p>
					<button id="key_btn" style="margin-top:0px"  class="btn btn-outline btn-primary" onclick="document.getElementById('change_pkey_upload_hidden').click();"><i class="fa fa-camera"></i> Select photo</button>
					{{if not .Mobile}}<p>or drag and drop photo</p>{{end}}
				</div>
			</div>
		</fieldset>
		<div class="clearfix" style="margin-top: 20px"></div>

		<img src="static/img/{{.PhotoType}}.jpg" style="float: left" id="img_face">
		<!--<p style="text-align: center;"><strong>Example</strong></p>-->
		<div style="float: left; text-align: center">
			<div id="{{.PhotoType}}_photo_div" class="photo_cropper"><canvas id="{{.PhotoType}}_photo"></canvas></div>
			<div style="display: none; text-align: center" id="crop_text">
				<p>{{.Lang.put_your_face}}</p>
				<button id="rotate"class="btn btn-outline btn-primary"><i class="fa fa-repeat"></i> Rotate</button>
			</div>
		</div>
	</div>
<div class="clearfix"></div>
	<button class="btn btn-success" id="next_step" style="margin-top: 50px; margin-bottom: 10px">{{.SaveAndGotoStep}}</button>
	<input type="hidden" id="img_type" value="{{.PhotoType}}">

	<div class="for-signature"></div>



<div id="coords" style="display: block"></div>



<script>

	$('#rotate').bind('click', function () {
		$('#{{.PhotoType}}_photo').cropper("rotate", 90);
	});

	$( document ).ready(function() {

		if (window.FileReader === undefined) {
			$("#old_browser").css("display", "block");
		}
		document.getElementById('change_pkey_upload_hidden').addEventListener('change', change_handleFileSelect2, false);

	});

	var first_load = true;

	function change_handleFileSelect(f) {
		$('#wrapper').spin();
		$('#change_pkey_key_file_name').html(f.name);
		var reader = new FileReader();
		reader.onload = (function(theFile) {
			return function(e) {
				var image = new Image();
				image.src = e.target.result;
				image.onload = function() {

					console.log("this.width:"+this.width);
					console.log("w:"+w);
					$('#{{.PhotoType}}_photo').attr('width', w);
					var k = this.width/w;
					var new_height = Math.round(this.height/k);
					$('#{{.PhotoType}}_photo').attr('height', new_height);
					$('#{{.PhotoType}}_photo_div').css('width', w);

					var c=document.getElementById("{{.PhotoType}}_photo");
					var ctx=c.getContext("2d");
					ctx.drawImage(image, 0, 0, this.width, this.height, 0, 0, w, new_height);
					if (first_load==false) {
						$('#{{.PhotoType}}_photo').cropper("destroy");
					}
					crop_img ('#{{.PhotoType}}_photo');
					first_load = false;
					$('#wrapper').spin(false);
					$("#msg_upload_2_photo").remove();
				}
			};
		})(f);
		reader.readAsDataURL(f);
	}

	function change_handleFileSelect2(evt) {
		$('#change_pkey_key_file_name').html(this.value);
		var f = evt.target.files[0];
		change_handleFileSelect(f);
	}

	$('#change_pkey_key_div').on(
		'dragover',
		function(e) {
			e.preventDefault();
			e.stopPropagation();
		}
	)
	$('#change_pkey_key_div').on(
		'dragenter',
		function(e) {
			e.preventDefault();
			e.stopPropagation();
		}
	)
	$('#change_pkey_key_div').on(
		'drop',
		function(e){
			if(e.originalEvent.dataTransfer){
				if(e.originalEvent.dataTransfer.files.length) {
					e.preventDefault();
					e.stopPropagation();
					change_handleFileSelect(e.originalEvent.dataTransfer.files[0]);
				}
			}
		}
	);


	function crop_img (id) {
		$('#crop_text').css('display', 'block');
		if ($(window).width()>1024) {
			$(id).cropper({
				aspectRatio: 350 / 500,
				autoCropArea: 0.8, // Center 60%
				multiple: true,
				dragCrop: true,
				dashed: false,
				movable: true,
				resizable: true,
				done: function (data) {
					console.log(data);
					$("#coords").val(data.x + ';' + data.y + ';' + data.height + ';' + data.width);
					console.log("coords", data.x + ';' + data.y + ';' + data.height + ';' + data.width)
				}
			});
		}
		else {
			console.log($(window).width());
			$(id).cropper({
				aspectRatio: 350 / 500,
				autoCropArea: 0.90, // Center 60%
				multiple: true,
				dragCrop: false,
				dashed: false,
				movable: false,
				resizable: false,
				done: function (data) {
					console.log(data);
					$("#coords").val(data.x + ';' + data.y + ';' + data.height + ';' + data.width);
				}
			});
		}
	}

	$('#next_step').bind('click', function () {

		//if ({{.NextStep}} == 3) {
			//window.open('/#upgrade3', '', '')
		//}

		if (first_load==false) {
			var coords = $('#{{.PhotoType}}_photo').cropper("getData");
			console.log(coords);
			var canvas = document.getElementById('{{.PhotoType}}_photo');
			var dataURL = canvas.toDataURL();

			var image = new Image();
			image.src = dataURL;
			image.onload = function () {
				var c = document.getElementById('cropped_photo');
				console.log(c);
				var ctx = c.getContext("2d");
				console.log(ctx);
				ctx.drawImage(image, coords.x, coords.y, coords.width, coords.height, 0, 0, w, h);
				console.log(c.toDataURL());

				$.post('ajax?controllerName=cropPhoto', {
						'photo': c.toDataURL(),
						'type': '{{.PhotoType}}',
						'copy': {{if .Full}}'0'{{else}}'1'{{end}},
					}, function (data) {
						console.log('ok');
						{{if and (eq .NextStep "3") .IOS}}
							document.getElementById("gotoupgrade3").click();
						{{else}}
							user_photo_navigate('upgrade{{.NextStep}}');
						{{end}}
					}
				);
			}
		}
		else {
			{{if not .Photo}}
				var msg = '<div id="msg_upload_2_photo" class="alert alert-danger alert-dismissable">{{.Lang.upload_2_photo}}</a></div>'
				if (!$("#msg_upload_2_photo").length) {
					$(msg).insertBefore("#photo_select_method");
				}
				$(window).scrollTop(0, 0);
				return false;
			{{else}}
				{{if and (eq .NextStep "3") .IOS}}
					document.getElementById("gotoupgrade3").click();
				{{else}}
					user_photo_navigate('upgrade{{.NextStep}}');
				{{end}}
			{{end}}
		}
	});

	{{if .Photo}}
	    		var canvas = document.getElementById('{{.PhotoType}}_photo');
			    var context = canvas.getContext('2d');
			    var imageObj = new Image();
			    imageObj.src = '{{.Photo}}?'+(new Date()).getTime();
			    imageObj.onload = function() {
					$('#{{.PhotoType}}_photo').attr('width', w);
					$('#{{.PhotoType}}_photo').attr('height', h);
					context.drawImage(imageObj, 0, 0, w, h);
			    };
	{{end}}

</script>

<input type="hidden" id="photo_type" value="{{.PhotoType}}">
<canvas id="cropped_photo" style="display: none" class="photo_cropper" width="350" height="500"></canvas>
<a id="gotoupgrade3" href="/?upgrade3=1"></a>

{{end}}