{{define "waitingAcceptNewKey"}}

<style>
	body {
		display:flex;
	}
	.container-fluid {
		display:flex;
		width:290px;
		left:0px;
		flex-flow:row wrap;
		align-items:center;
		align-content:center;
	}
	.alert-info {
		background-color:#ffffff;
		text-align:center;
	}
</style>

<script>
	$(document).ready(function() {

		var refreshId = setInterval( function() {
			$.post( 'ajax?controllerName=AcceptNewKeyStatus', {}, function (data) {
				if (data=="ok") {
					window.clearInterval(refreshId);
					window.location.href = "/";
				}
			});
		}, 3000);
	});
</script>
<header class="nologin navbar-fixed-top">
	<div class="logo"><i></i></div>
</header>
<!--<h1 class="page-header" style="text-align: center">{{.Lang.registration_of_a_new_key_title}}</h1>-->

<div class="alert alert-info" role="alert">
<div style="max-width: 600px; margin: auto; text-align: center">
	<img src="static/img/load.gif" style="margin-top: 5px; margin-bottom: 5px">
	<p>{{.Lang.please_wait_reg_new_key}}</p>
	<p>{{.Lang.wait_any_minutes}}</p>
</div>

{{end}}