{{define "waitingAcceptNewKey"}}

<style>
	#page-wrapper{
		margin: 0px 10% 0px 10%;
		border: 1px solid #E7E7E7;
		/*min-height: 550px;*/
	}
	#wrapper{height: 100%;}
	#dc_content{
		/*height: 550px;*/
		vertical-align: middle;
	}
</style>

<script>
	$(document).ready(function() {

		var refreshId = setInterval( function() {
			$.post( 'ajax?controllerName=AcceptNewKeyStatus', {}, function (data) {
				if (data=="ok") {
					window.clearInterval(refreshId);
					window.location.href = "/";
				}
			});
		}, 3000);
	});
</script>
<!--<h1 class="page-header" style="text-align: center">{{.Lang.registration_of_a_new_key_title}}</h1>-->

<div style="max-width: 600px; margin: auto; text-align: center">
	<img src="static/img/load.gif" style="margin-top: 5px; margin-bottom: 5px">
	<p>{{.Lang.please_wait_reg_new_key}}</p>
	<p>{{.Lang.wait_any_minutes}}</p>
</div>

{{end}}